site_name: VAST Pipeline
site_description: >-
  VAST Pipeline platform to enable processing of astronomical sources
  extracted from the ASKAP telescope for radio transient detection science
site_author: VAST Development Team
copyright: Copyright &copy; 2020 - 2025 Vast Development Team, University of Sydney - all right reserved

repo_url: https://github.com/askap-vast/vast-pipeline
repo_name: askap-vast/vast-pipeline
edit_uri: ""
dev_addr: localhost:8008

docs_dir: docs
site_dir: docs_build

theme:
  name: material
  favicon: img/favicon.png
  logo: img/vast.png
  features:
    - navigation.instant

# Extensions
extra_css:
  - theme/css/extra.css
extra_javascript:
  - theme/js/extra.js
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      toc_depth: 4
      permalink: true

nav:
  - Home: README.md
  - Quickstart:
    - Installation: quickstart/installation.md
    - Configuration: quickstart/configuration.md
    - Deployment: quickstart/deployment.md
  - Admin Usage:
    - CLI: adminusage/cli.md
    - Web App: adminusage/app.md
  - Pipeline Features and Design:
    - Pipeline Steps Overview: design/overview.md
    - Image & Selavy Catalogue Ingest: design/imageingest.md
    - Source Association: design/association.md
    - New Sources: design/newsources.md
    - Forced Measurements: design/monitor.md
    - Source Statistics: design/sourcestats.md
  - Using the Pipeline:
    - Accessing the Pipeline: using/access.md
    - Initialising a Run: using/initrun.md
    - Run Configuration: using/runconfig.md
    - Processing a Run: using/processrun.md
    - Adding Images to a Run: using/addtorun.md
    - Deleting a Run: using/deleterun.md
  - Exploring the Pipeline Website:
    - Overview: exploringwebsite/websiteoverview.md
    - Run Detail: exploringwebsite/rundetail.md
    - Source Query: exploringwebsite/sourcequery.md
    - Source Detail: exploringwebsite/sourcedetail.md
    - Comments, Tags & Favourites: exploringwebsite/comments.md
    - Admin Tools: exploringwebsite/admintools.md
  - Pipeline Outputs: outputs/outputs.md
  - Contributing and Developing:
    - Intro: developing/intro.md
    - GitHub Platform: developing/github.md
    - Local Development Environment: developing/localdevenv.md
    - Tests: developing/tests.md
    - Docs: developing/docsdev.md
    - Bechmarks: developing/profiling.md
  #   - Tips: developing/tips.md like this https://stackoverflow.com/questions/60160823/how-to-properly-parallelize-generic-code-with-numba-dask
  # - Reference:
  #   - Association Logic: reference/association.md
  #   - Configuration: reference/configuration.md
  - Architecture:
    - Architecture Intro: architecture/intro.md
    - Database Schema: architecture/database.md
    # - Production: architecture/nimbus.md
  - FAQs: faqs.md
  - Changelog: changelog.md
  - Code of Conduct: code_of_conduct.md
  - License: license.md

plugins:
  - search
  - minify:
      minify_html: true
      minify_js: true
      htmlmin_opts:
        remove_comments: true
      js_files:
        - theme/js/extra.js
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: false
          setup_commands:
            - "import os"
            - "import django"
            - "os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'webinterface.settings')"
            - "django.setup()"
      watch:
        - vast_pipeline

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/askap-vast/vast-pipeline
      name: vast-pipeline source on GitHub
    - icon: fontawesome/brands/slack
      link: https://askap-vast.slack.com/
    - icon: fontawesome/solid/paper-plane
      link: mailto:transients@mailman.sydney.edu.au
      name: Email ASKAP VAST
    - icon: fontawesome/solid/globe
      link: https://vast-survey.org
