site_name: VAST Pipeline
site_description: >-
  VAST Pipeline platform to enable processing of astronomical sources
  extracted from the ASKAP telescope for radio transient detection science
site_author: VAST Development Team
copyright: Copyright &copy; 2020 - 2025 Vast Development Team, University of Sydney - all right reserved

repo_url: https://github.com/askap-vast/vast-pipeline
repo_name: askap-vast/vast-pipeline
edit_uri: ""
dev_addr: localhost:8008

docs_dir: docs
site_dir: docs_build

theme:
  name: material
  favicon: img/favicon.png
  logo: img/vast.png
  features:
    - navigation.instant

# Extensions
extra_css:
  - theme/css/extra.css
extra_javascript:
  - theme/js/extra.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.tabbed
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      toc_depth: 4
      permalink: true

nav:
  - Home: README.md
  - Quickstart:
    - Installation: quickstart/installation.md
    - Configuration: quickstart/configuration.md
    - Deployment: quickstart/deployment.md
  - Admin Usage:
    - CLI: adminusage/cli.md
    - Web App: adminusage/app.md
  - Pipeline Features and Design:
    - Pipeline Steps Overview: design/overview.md
    - Image & Selavy Catalogue Ingest: design/imageingest.md
    - Source Association: design/association.md
    - New Sources: design/newsources.md
    - Forced Measurements: design/monitor.md
    - Source Statistics: design/sourcestats.md
  - Using the Pipeline:
    - Accessing the Pipeline: using/access.md
    - Initialising a Run: using/initrun.md
    - Run Configuration: using/runconfig.md
    - Processing a Run: using/processrun.md
    - Adding Images to a Run: using/addtorun.md
    - Deleting a Run: using/deleterun.md
  - Exploring the Pipeline Website:
    - Overview: exploringwebsite/websiteoverview.md
    - Admin Tools: exploringwebsite/admintools.md
    - Pipeline Run Pages: exploringwebsite/runpages.md
    - Source Pages: exploringwebsite/sourcepages.md
    - Measurement Pages: exploringwebsite/measurementpages.md
    - Image Pages: exploringwebsite/imagepages.md
  - Pipeline Outputs:
    - Outputs Overview: outputs/outputs.md
    - Using the Outputs: outputs/usingoutputs.md
    - Column Descriptions: outputs/coldesc.md
  - Contributing and Developing:
    - Intro: developing/intro.md
    - GitHub Platform: developing/github.md
    - Local Development Environment: developing/localdevenv.md
    - Tests: developing/tests.md
    - Docs: developing/docsdev.md
    - Bechmarks: developing/profiling.md
  #   - Tips: developing/tips.md like this https://stackoverflow.com/questions/60160823/how-to-properly-parallelize-generic-code-with-numba-dask
  - Code Reference:
    - vast_pipeline:
      - image:
        - main.py: reference/image/main.md
        - utils.py: reference/image/utils.md
      - management:
        - commands:
          - clearpiperun.py: reference/management/commands/clearpiperun.md
          - createmeasarrow.py: reference/management/commands/createmeasarrow.md
          - debugrun.py: reference/management/commands/debugrun.md
          - importsurvey.py: reference/management/commands/importsurvey.md
          - initpiperun.py: reference/management/commands/initpiperun.md
          - restorepiperun.py: reference/management/commands/restorepiperun.md
          - runpipeline.py: reference/management/commands/runpipeline.md
        - helpers.py: reference/management/helpers.md
      - pipeline:
        - association.py: reference/pipeline/association.md
        - errors.py: reference/pipeline/errors.md
        - finalise.py: reference/pipeline/finalise.md
        - forced_extraction.py: reference/pipeline/forced_extraction.md
        - loading.py: reference/pipeline/loading.md
        - main.py: reference/pipeline/main.md
        - model_generator.py: reference/pipeline/model_generator.md
        - new_sources.py: reference/pipeline/new_sources.md
        - utils.py: reference/pipeline/utils.md
      - survey:
        - catalogue.py: reference/survey/catalogue.md
        - translators.py: reference/survey/translators.md
      - utils:
        - auth.py: reference/utils/auth.md
        - unit_tags.py: reference/utils/unit_tags.md
        - utils.py: reference/utils/utils.md
        - view.py: reference/utils/view.md
      - admin.py: reference/admin.md
      - apps.py: reference/apps.md
      - context_processors.py: reference/context_processors.md
      - converters.py: reference/converters.md
      - forms.py: reference/forms.md
      - models.py: reference/models.md
      - plots.py: reference/plots.md
      # - serializers.py: reference/serializers.md
      - urls.py: reference/urls.md
      # - views.py: reference/views.md
  - Architecture:
    - Architecture Intro: architecture/intro.md
    - Database Schema: architecture/database.md
    # - Production: architecture/nimbus.md
  - FAQs: faqs.md
  - Changelog: changelog.md
  - Code of Conduct: code_of_conduct.md
  - License: license.md

plugins:
  - search
  - gen-files:
      scripts:
      # - docs/gen_credits.py
      - docs/gen_doc_stubs.py
  - minify:
      minify_html: true
      minify_js: true
      htmlmin_opts:
        remove_comments: true
      js_files:
        - theme/js/extra.js
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: true
          setup_commands:
            - "import os"
            - "import django"
            - "os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'webinterface.settings')"
            - "django.setup()"
      watch:
        - vast_pipeline

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/askap-vast/vast-pipeline
      name: vast-pipeline source on GitHub
    - icon: fontawesome/brands/slack
      link: https://askap-vast.slack.com/
    - icon: fontawesome/solid/paper-plane
      link: mailto:transients@mailman.sydney.edu.au
      name: Email ASKAP VAST
    - icon: fontawesome/solid/globe
      link: https://vast-survey.org
