<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="VAST Pipeline WebApp for processing the images from the ASKAP Telescope and detecting transient sources">
  <meta name="author" content="VAST Developement Team">

  <title>VAST Pipeline</title>

  <!-- VAST icon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Stylesheet. Includes Bootstrap, sb-admin-2, and custom styles -->
  <link href="{% static 'css/pipeline.min.css' %}" rel="stylesheet">

  {% block head %}

  {% endblock head %}

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}" id='homeLogo'>
        <img src="{% static 'img/vast.png' %}" width="50%" >
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      {% if user.is_staff %}
      <!-- Nav Item - Admin Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
          <i class="fas fa-fw fa-cog"></i>
          <span>Admin</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingDataset" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'admin:index' %}">Django</a>
          </div>
        </div>
      </li>
      {% endif %}

      <!-- Nav Item - Pipeline Runs -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'vast_pipeline:run_index' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Pipeline Runs</span>
        </a>
      </li>

      <!-- Nav Item - Sources -->
      <li class="nav-item" id="sourcesLink">
        <a class="nav-link collapsed" href="{% url 'vast_pipeline:source_query' %}">
          <i class="fas fa-fw fa-share-alt"></i>
          <span>Sources Query</span>
        </a>
      </li>

      <!-- Nav Item - Measurements -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'vast_pipeline:measurement_index' %}">
          <i class="fas fa-fw fa-bolt"></i>
          <span>Measurements</span>
        </a>
      </li>

      <!-- Nav Item - Images -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'vast_pipeline:image_index' %}">
          <i class="fas fa-fw fa-images"></i>
          <span>Images</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" target="_blank" href="https://vast-survey.org/vast-pipeline/">
          <i class="fas fa-file-alt"></i>
          <span>Pipeline Documentation</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" target="_blank" href="https://github.com/askap-vast/vast-pipeline/issues/new">
          <i class="fab fa-fw fa-github"></i>
          <span>Pipeline Repository</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" target="_blank" href="https://github.com/askap-vast/vast-pipeline/issues/new">
          <i class="fas fa-fw fa-exclamation"></i>
          <span>Raise Issue</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" target="_blank" href="https://github.com/askap-vast/vast-pipeline/discussions/new">
          <i class="far fa-comments"></i>
          <span>Start a Discussion</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLinks" aria-expanded="true" aria-controls="collapseLinks">
          <i class="fas fa-fw fa-link"></i>
          <span>VAST Links</span>
        </a>
        <div id="collapseLinks" class="collapse" aria-labelledby="headingDataset" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" target="_blank" href="https://github.com/askap-vast">GitHub</a>
            <a class="collapse-item" target="_blank" href="https://data.vast-survey.org">JupyterHub</a>
            <a class="collapse-item" target="_blank" href="https://vast-survey.org">Website</a>
            <a class="collapse-item" target="_blank" href="https://github.com/askap-vast/vast-project/wiki">Wiki</a>
          </div>
        </div>
      </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {% if maintainance_message %}
        <div id="maintainanceMessage" class="text-gray-900 text-center">
          <strong class="text-lg">MAINTAINER MESSAGE: </strong>{{ maintainance_message }}
        </div>
        {% endif %}

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'index' %}">Home</a>
            </li>

            {% block breadcrumb %}

            {% endblock breadcrumb %}

            <li class="breadcrumb-item active">Overview</li>
          </ol>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  {% if user.first_name %}
                  {{ user.first_name }}
                  {% else %}
                  {{ user.username }}
                  {% endif %}
                </span>
                {% for ass in backends.associated %}
                  {% if ass.provider == 'github-org' %}
                    {% if 'avatar_url' in ass.extra_data %}
                    <img class="img-profile rounded-circle" src="{{ ass.extra_data.avatar_url }}" alt="">
                    {% else %}
                    <img class="img-profile rounded-circle" src="{% static 'img/user-32.png' %}" width="32" height="32" alt="">
                    {% endif %}
                  {% endif %}

                {% endfor %}
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'vast_pipeline:source_favs' %}">
                  <i class="fas fa-star fa-sm fa-fw mr-2 text-gray-400"></i>
                  Favourite Sources
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>

        {% block content %}

        {% endblock content %}

        {% if messages %}
        <div class="toast-wrapper">
        {% for message in messages %}
        {% if message.tags == 'info' %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=6000>
          <div class="toast-header bg-info text-white">
            <span>
              <i class="fas fa-info-circle"></i>
            </span>
            <strong class="mr-auto">&nbsp;VAST Pipeline</strong>
            <small>just now</small>
            <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="toast-body">
            {{ message }}
          </div>
        </div>
        {% endif %}
        {% if message.tags == 'success' %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=6000>
          <div class="toast-header bg-success text-white">
            <span >
              <i class="fas fa-check-circle"></i>
            </span>
            <strong class="mr-auto">&nbsp;VAST Pipeline</strong>
            <small>just now</small>
            <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="toast-body">
            {{ message }}
          </div>
        </div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=6000>
          <div class="toast-header bg-danger text-white">
            <span>
              <i class="fas fa-exclamation-circle"></i>
            </span>
            <strong class="mr-auto">&nbsp;VAST Pipeline</strong>
            <small>just now</small>
            <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="toast-body">
            {{ message }}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; VAST Development Team 2020 - All rights reserved</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% block modal %}
  {% endblock modal %}

  {% block scripts %}
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Toasts script for all pages-->
  <script src="{% static 'js/toasts.min.js' %}"></script>
  {% endblock scripts %}

  {% block custom_page_scripts %}
  {% endblock custom_page_scripts %}
</body>
</html>
