{% extends "base.html" %}

{% load static %}

{% block head %}

<link rel='stylesheet' href='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css' />

{% endblock head %}


{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'pipeline:catalog_index' %}">Catalogs</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'pipeline:catalog_detail' catalog.id %}">Catalog</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
	  <h1 class="h3 mb-2 text-gray-800">Catalog: {{ catalog.name }}</h1>
    <div class="">
      <a href="{% url 'pipeline:catalog_detail' catalog.id %}prev" class="d-none d-sm-inline-block btn btn-sm btn-light btn-icon-split shadow-sm">
        <span class="icon text-gray-600">
          <i class="fas fa-arrow-left fa-sm"></i>
        </span>
        <span class="text">Previous</span>
      </a>
      <a href="{% url 'pipeline:catalog_detail' catalog.id %}next" class="d-none d-sm-inline-block btn btn-sm btn-light btn-icon-split shadow-sm">
        <span class="text">Next</span>
        <span class="icon text-gray-600">
          <i class="fas fa-arrow-right fa-sm"></i>
        </span>
      </a>
    </div>
	</div>

  <div class="row">
    <div class="col-lg-6">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
          <p><strong>Position: </strong>Guest</p>
          <p><strong>RA: </strong> {{ catalog.ave_ra }}</p>
          <p><strong>DEC: </strong> {{ catalog.ave_dec }}</p>
          <p><strong>New Source: </strong> {{ catalog.new }}</p>
          <p><strong>Nr Datapoints: </strong> {{ catalog.sources }}</p>
          <p><strong>Dataset: </strong> <a href="{% url 'pipeline:dataset_detail' catalog.dataset_id %}">{{ catalog.dsname }}</a></p>
          <p><strong>Comment: </strong> {{ catalog.comment }}</p>
        </div>
      </div>
    </div>
    <!-- Aladin viz tile -->
  	<div class="col-lg-6">
      <div class="card shadow mb-4">
        <div id="aladinViz" style="height:23.3rem;"></div>
      </div>
  	</div>
	</div>

  <!-- Area Chart -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Light Curve</h6>
    </div>
    <div class="card-body">
      <div class="chart-area">
        <canvas id="lightCurveChart"></canvas>
      </div>
    </div>
  </div>

  <!-- DataTales Sources -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Sources</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for name in catalog.datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for name in catalog.datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}


{% block custom_page_scripts %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Datatable scripts -->
{{ sources|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.js' %}"></script>

<!-- Chart scripts -->
{{ sources|json_script:"chart-data" }}
<script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/Plugin.Errorbars.min.js' %}"></script>
<script src="{% static 'js/light-curve-chart.js' %}"></script>

<!-- Aladin -->
{{ catalog|json_script:"data-aladin" }}
<script type='text/javascript' src='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js' charset='utf-8'></script>
<script src="{% static 'js/aladin-script.js' %}"></script>

{% endblock custom_page_scripts %}
