{% load crispy_forms_tags %}
<div class="card shadow h-100">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">User Comments <span
        class="badge badge-pill badge-primary">{{ comments|length }}</span></h6>
  </div>
  <div class="d-flex flex-column card-body pb-0">
    <dl class="comment-content">
      {% for comment in comments %}
      <dt>{{ comment.author.get_full_name }} ({{ comment.author.get_username }}) -
        {{ comment.datetime|date:"F d, Y, g:i a" }}</dt>
      <dd>
        <p>{{ comment.comment }}</p>
      </dd>
      {% empty %}
      <dd class="text-center">
        <i class="fas fa-comment-slash fa-2x"></i>
        <p>No comments</p>
      </dd>
      {% endfor %}
    </dl>
    <div class="mt-auto">
      {% crispy comment_form %}
    </div>
  </div>
</div>