{% extends "base.html" %}

{% load static %}

{% block head %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <!-- Bootstrap-select minified CSS -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">

{% endblock head %}

{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{{ text.breadcrumb.url }}">{{ text.breadcrumb.title }}</a>
</li>

{% endblock breadcrumb %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <!-- Page Heading -->
    <div>
      <h1 class="h3 mb-2 text-gray-800">{{ text.title }}</h1>
      <p class="mb-4">{{ text.description }}</p>
    </div>
    {% if 'run' in text.title|lower %}
    <a id="RunConfigButton" class="btn btn-sm btn-primary btn-icon-split shadow-sm" href="#" data-toggle="modal" data-target="#newPipeRun">
      <span class="icon text-white-600">
        <i class="fa fa-plus fa-lg"></i>
      </span>
      <span class="text">New Pipeline Run</span>
    </a>
    {% endif %}
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for name in datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for name in datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}


{% block modal %}

<!-- Update Comment Modal-->
<div class="modal fade" id="newPipeRun" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-pipeconfig" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Initialise a pipeline run with the following configuration</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'pipeline:run_index' %}" method="post" id="commentForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="imagesFilesDropDown" class="col-form-label">Select images files</label><br>
            <select id="imagesFilesDropDown" class="selectpicker form-control form-control-file" data-live-search="true" multiple data-max-options="2" data-header="Choose image files" data-actions-box="true">
            </select>
            <label for="selavyFilesDropDown" class="col-form-label">Select selavy files</label><br>
            <select id="selavyFilesDropDown" class="selectpicker form-control form-control-file" data-live-search="true" multiple data-max-options="2" data-header="Choose selavy files" data-actions-box="true">
            </select>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="monitorSwitch">
              <label class="custom-control-label" for="monitorSwitch">Turn on source force extraction backward and forward in time</label>
            </div>
            <label for="bkgFilesDropDown" class="col-form-label">Select background files</label><br>
            <select id="bkgFilesDropDown" class="selectpicker form-control form-control-file" data-live-search="true" multiple data-max-options="2" data-header="Choose background files" data-actions-box="true" disabled>
            </select>
            <label for="noiseFilesDropDown" class="col-form-label">Select noise or rms files</label><br>
            <select id="noiseFilesDropDown" class="selectpicker form-control form-control-file" data-live-search="true" multiple data-max-options="2" data-header="Choose noise or rms files" data-actions-box="true" disabled>
            </select>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Create">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}




{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Bootstrap-select minified JavaScript -->
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<!-- Run Config modal script -->
<script type="text/javascript" src="{% static 'js/run-config.min.js' %}"></script>

<!-- Page level custom scripts -->
{{ datatable|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.min.js' %}"></script>
{% endblock custom_page_scripts %}
