{% extends "base.html" %}
{% load humanize %}

{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'pipeline:run_index' %}">Pipeline Runs</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'pipeline:run_detail' p_run.id %}">{{ p_run.name }}</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
	  <h1 class="h3 mb-2 text-gray-800">Pipeline Run: {{ p_run.name }}</h1>
    <a class="btn btn-sm btn-primary btn-icon-split shadow-sm" href="#" data-toggle="modal" data-target="#updateCommment">
      <span class="icon text-white-600">
        <i class="fa fa-comment fa-lg"></i>
      </span>
      <span class="text">Update Comment</span>
    </a>
	</div>

  <div class="row">
		<!-- Nr Images -->
      <div class="col-xl-3 col-md-6 mb-4">
      {# <div class="col-xl-3 mb-4"> #}
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Nr Images</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.nr_imgs|intcomma }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-images fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

			<!-- Nr Catalogs -->
      <div class="col-xl-3 col-md-6 mb-4">
      {# <div class="col-xl-3 mb-4"> #}
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Nr Sources</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.nr_srcs|intcomma }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-share-alt fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

			<!-- Extracted Sources -->
      <div class="col-xl-3 col-md-6 mb-4">
      {# <div class="col-xl-3 mb-4"> #}
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Extracted Source Measurements</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.nr_meas|intcomma }} ({{ p_run.nr_frcd|intcomma }} forced)</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-bolt fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

			<!-- Extracted Sources -->
      <div class="col-xl-3 col-md-6 mb-4">
      {# <div class="col-xl-3 mb-4"> #}
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">New Sources</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.new_srcs|intcomma }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-bookmark fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

	</div>

  <div class="row">
  	<div class="col-lg-6">

      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
          <p><strong>User: </strong>Guest</p>
          <p><strong>Processing Datetime: </strong> {{ p_run.time }}</p>
          <p><strong>Comment: </strong> {{ p_run.comment }}</p>
        </div>
      </div>

  	</div>
	</div>

</div>
<!-- /.container-fluid -->

{% endblock content %}

{% block modal %}

<!-- Update Comment Modal-->
<div class="modal fade" id="updateCommment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update "{{ p_run.name }}" comment below</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          <div class="form-group">
            <textarea class="form-control" id="comment-text" placeholder="Insert comment here"></textarea>
          </div>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'pipeline:run_detail' p_run.id %}">Update</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}
