{% extends "base.html" %}
{% load humanize %}

{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'pipeline:run_index' %}">Pipeline Runs</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'pipeline:run_detail' p_run.id %}">{{ p_run.name }}</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
	  <h1 class="h3 mb-2 text-gray-800">Pipeline Run: {{ p_run.name }}</h1>
	</div>

  <div class="row">
		<!-- Nr Images -->
      <div class="col-xl-3 col-md-6 mb-4">
      {# <div class="col-xl-3 mb-4"> #}
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Nr Images</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.n_images|intcomma }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-images fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

			<!-- Nr Catalogs -->
      <div class="col-xl-3 col-md-6 mb-4">
      {# <div class="col-xl-3 mb-4"> #}
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Nr Sources</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.n_sources|intcomma }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-share-alt fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

			<!-- Extracted Sources -->
      <div class="col-xl-3 col-md-6 mb-4">
      {# <div class="col-xl-3 mb-4"> #}
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Extracted Source Measurements</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.nr_meas|intcomma }} ({{ p_run.nr_frcd|intcomma }} forced)</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-bolt fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

			<!-- Extracted Sources -->
      <div class="col-xl-3 col-md-6 mb-4">
      {# <div class="col-xl-3 mb-4"> #}
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">New Sources</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.new_srcs|intcomma }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-bookmark fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

	</div>

  <div class="row">
  	<div class="col-lg-6">

      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
          <p><strong>User: </strong>{% if p_run.user %}
          {{ p_run.user }}
          {% else %}
          None
          {% endif %}</p>
          <p><strong>Processing Datetime: </strong> {{ p_run.time }}</p>
          <p><strong>Run Status: </strong> {{ p_run.status }}</p>
          <p><strong>Comment: </strong> {{ p_run.comment }}</p>
        </div>
      </div>

  	</div>
	</div>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Config File</h6>
        </div>
        <div class="card-body">
          <pre class="pre-scrollable">
            <code>{{ p_run.config_txt }}</code>
          </pre>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}
