{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block head %}

<!-- PrismJS CSS -->
<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/prismjs/prism.css' %}">
<link rel="stylesheet" href="{% static 'vendor/prismjs/line-numbers/prism-line-numbers.css' %}">

<!-- Celestial CSS -->
<link rel='stylesheet' href="{% static 'css/celestial.min.css' %}" />

{% endblock head %}


{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'vast_pipeline:run_index' %}">Pipeline Runs</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'vast_pipeline:run_detail' p_run.id %}">{{ p_run.name }}</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div>
        <h1 class="h3 mb-2 text-gray-800">Pipeline Run: {{ p_run.name }}</h1>
      </div>
      {% if user.get_username == p_run.user or user.is_staff %}
        <a id="newPipeRunButton" class="btn btn-sm
          {% if p_run.status == 'Completed' %}
            btn-danger
          {% else %}
            btn-primary
          {% endif %} btn-icon-split shadow-sm
          {% if p_run.status == 'Running' or p_run.status == 'Queued' %}
            disabled
          {% endif %}" href="#" data-toggle="modal" data-target="#runPipeModal">
          <span class="icon text-white-600">
            <i class="fas fa-rocket"></i>
          </span>
          <span class="text">{% if p_run.status == 'Completed' %}Re-{% endif %}Run Pipeline</span>
        </a>
      {% endif %}

  </div>

  <div class="row">
    <!-- Nr Images -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Nr Images</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.n_images|intcomma }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-images fa-2x text-gray-300"></i>
            </div>
          </div>
          <a href="#imagesHeader" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <!-- Extracted Sources -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Nr Selavy Measurements</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.nr_meas|intcomma }} (+{{ p_run.nr_frcd|intcomma }} forced)</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-bolt fa-2x text-gray-300"></i>
            </div>
          </div>
          <a href="#measHeader" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <!-- Nr sources -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Nr Sources</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.nr_srcs|intcomma }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-share-alt fa-2x text-gray-300"></i>
            </div>
          </div>
          <a href="{% url 'vast_pipeline:source_query' %}#run_name={{ p_run.name }}" target="_blank" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <!-- New Sources -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">New Sources</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ p_run.new_srcs|intcomma }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-star fa-2x text-gray-300"></i>
            </div>
          </div>
          <a href="{% url 'vast_pipeline:source_query' %}#run_name={{ p_run.name }}&new_source=true" target="_blank" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 mb-4">
      <!-- details -->
      <div class="card shadow h-100">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
          <p><strong>User: </strong>
          {% if p_run.user %}
            {{ p_run.user }}
          {% else %}
            None (created from the command line)
          {% endif %}</p>
          <p><strong>Processing Datetime: </strong>{{ p_run.time }}</p>
          <p><strong>Epoch based: </strong>{{ p_run.epoch_based }}</p>
          <p><strong>Run Status: </strong>{{ p_run.status }}</p>
          <p><strong>Path: </strong>{{ p_run.path }}</p>
          <p><strong>Description: </strong>{{ p_run.description }}</p>
          <a href="#configFile"><p><strong>Config File</strong></p></a>
          <a href="#logFile"><p><strong>Log File</strong></p></a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 mb-4">
      <!-- sky regions -->
      <div class="card shadow h-100">
        <h6 class="card-header m-0 font-weight-bold text-primary">
          <a data-toggle="collapse" href="#collapseRegionCard" aria-expanded="true" aria-controls="collapseRegionCard" id="regionHeader" class="d-block">
            <i class="fa fa-chevron-down pull-right"></i>
              {% if p_run.status == 'Completed' %}
                Run Sky Regions
              {% else %}
                Run Sky Regions (run not complete so not all sky regions may be shown!)
              {% endif %}
          </a>
        </h6>
        <div id="collapseRegionCard" class="collapse show" aria-labelledby="regionHeader">
          <div class="card-body">
            <div id="celestial-map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 mb-4">
      <!-- config file card -->
      <div class="card shadow h-100">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary" id='configFile'>Config File</h6>
          <h6 id="editModeTitle" class="m-0 font-weight-bold text-warning" hidden><i>- - - Edit mode - - -</i></h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownRunConfig" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownRunConfig">
              <div class="dropdown-header">Actions:</div>
              <a id="editConfig" class="dropdown-item" href="#configFile">Toggle on/off Config Edit</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#feedbackModal">Validate Config</a>
              <form id="runConfigForm" action="{% url 'vast_pipeline:api_runcfg-write' p_run.id %}" method="post" novalidate>
                {% csrf_token %}
                <input id="configTextInput" type="hidden" name="config_text"></input>
                <button id="writeConfig" class="dropdown-item">Write Current Config</button>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <pre id="runConfigText" class="pre-scrollable" contenteditable="false"><code id="runConfigTextCode" class="language-python line-numbers" style="white-space: pre">{{ p_run.config_txt }}</code></pre>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <!-- comments -->
      {% include "comments_component.html" %}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <!-- log file card -->
      <div class="card shadow mb-4">
        <h6 class="card-header m-0 font-weight-bold text-primary" id="logFile">
          <a data-toggle="collapse" href="#collapseLogCard" aria-expanded="true" aria-controls="collapseLogCard" id="logHeader" class="d-block">
            <i class="fa fa-chevron-down pull-right"></i>
            Log File
          </a>
        </h6>
        <div class="collapse show" id="collapseLogCard">
          <div class="card-body">
            <pre class="pre-scrollable"><code>{% if p_run.log_txt %}{{ p_run.log_txt }}{% else %}N/A{% endif %}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- image table -->
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <h6 class="card-header m-0 font-weight-bold text-primary">
          <a data-toggle="collapse" href="#collapseImages" aria-expanded="true" aria-controls="collapseImages" id="imagesHeader" class="d-block">
            <i class="fa fa-chevron-down pull-right"></i>
            Images
          </a>
        </h6>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseImages">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover" id="{{ datatables.0.table_id }}" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    {% for name in datatables.0.colsNames %}
                      <th>{{ name }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    {% for name in datatables.0.colsNames %}
                      <th>{{ name }}</th>
                    {% endfor %}
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Measurements table -->
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <h6 class="card-header m-0 font-weight-bold text-primary">
          <a data-toggle="collapse" href="#collapseMeas" aria-expanded="true" aria-controls="collapseMeas" id="measHeader" class="d-block">
            <i class="fa fa-chevron-down pull-right"></i>
            Measurements
          </a>
        </h6>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseMeas">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover" id="{{ datatables.1.table_id }}" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    {% for name in datatables.1.colsNames %}
                      <th>{{ name }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    {% for name in datatables.1.colsNames %}
                      <th>{{ name }}</th>
                    {% endfor %}
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}


{% block modal %}
<div  id="feedbackModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div id="feedbackModalDialog" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Feedback</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Run pipeline modal-->
<div class="modal fade" id="runPipeModal" tabindex="-1" role="dialog" aria-labelledby="runPipeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="runPipeModalLabel">Run {{ p_run.name }}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="runPipeForm" action="{% url 'vast_pipeline:api_pipe_runs-run' p_run.id %}" method="post" novalidate>
          {% csrf_token %}
          <p>Are you sure you want to schedule '{{ p_run.name }}' to be processed?</p>
          {% if p_run.status == 'Completed' %}
            <p><b>Warning! This run is marked as completed, all previous results will be removed.</b></p>
          {% endif %}
          Debug log output:
          <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 1rem; margin-bottom: 1rem;">
            <label class="btn btn-sm btn-primary">
              <input type="radio" name="debug" id="debugOff" autocomplete="off" value='debugOff' checked> Off
            </label>
            <label class="btn btn-sm btn-primary ">
              <input type="radio" name="debug" id="debugOn" autocomplete="off" value='debugOn'> On
            </label>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
              <span class="icon">
                <i class="fa fa-window-close"></i>
              </span>
              <span class="text">Cancel</span>
            </button>
            <button id="createPipeRun" class="btn btn-success btn-icon-split" type="submit">
              <span class="icon">
                <i class="fas fa-rocket fa-sm"></i>
              </span>
              <span class="text">Schedule Run</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}



{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.colVis.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendor/jszip/jszip.min.js' %}"></script>

<!-- PrismJS -->
<script src="{% static 'vendor/prismjs/prism.js' %}"></script>
<script src="{% static 'vendor/prismjs/prism-python.min.js' %}"></script>
<script src="{% static 'vendor/prismjs/line-numbers/prism-line-numbers.min.js' %}"></script>

<script id="runDetailScript" src="{% static 'js/run-detail.min.js' %}" apiValidateUrl="{% url 'vast_pipeline:api_runcfg-validate' p_run.id %}" apiWriteCfgUrl="{% url 'vast_pipeline:run_detail' p_run.id %}"></script>

<!-- D3 Celestial -->
{{ d3_celestial_skyregions|json_script:"skyregion-data" }}
<script type="text/javascript" src="{% static 'vendor/d3-celestial/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/d3-celestial/d3.geo.projection.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/d3-celestial/celestial.min.js' %}"></script>
<script id="d3CelestialScript" type="text/javascript" src="{% static 'js/d3-celestial-script.min.js' %}" staticUrl="{{ static_url }}"></script>

<!-- Datatable scripts -->
{{ datatables|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.min.js' %}"></script>

{% endblock custom_page_scripts %}
