{% extends "base.html" %}

{% load static %}

{% block head %}

<link rel='stylesheet' href='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css' />
<link rel="stylesheet" href="{% static 'vendor/js9/js9-allinone.css' %}" />
<link rel="stylesheet" href="{% static 'css/collapse-box.min.css' %}">

{% endblock head %}


{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'pipeline:source_query' %}">Sources</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'pipeline:source_detail' source.id %}">{{ source.name }}</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
	  <h1 class="h3 mb-2 text-gray-800"><strong>Source:</strong> {{ source.name }}</h1>
    <div class="">
      <span {% if not sourcefav %}data-toggle="modal"{% endif %} data-target="#starSource">
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="tooltip" title="Add to favourites" >
          <span class="icon text-white-600">
            <i class="fas fa-star" {% if sourcefav  %}style="color: #ffe271"{% endif %}></i>
          </span>
        </a>
      </span>
      <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ source.aladin_ra }}d{{ source.aladin_dec }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=10'" class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm" target="_blank">
        <span class="icon text-white-600">
          <i class="fas fa-info-circle fa-sm"></i>
        </span>
        <span class="text">SIMBAD</span>
      </a>
      <a href="https://ned.ipac.caltech.edu/conesearch?search_type=Near%20Position%20Search&coordinates={{ source.aladin_ra }}d%20{{ source.aladin_dec }}d&radius=2.0&in_csys=Equatorial&in_equinox=J2000.0&out_csys=Equatorial&out_equinox=J2000.0&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1" class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm" target="_blank">
        <span class="icon text-white-600">
          <i class="fas fa-info-circle fa-sm"></i>
        </span>
        <span class="text">NED</span>
      </a>
      <a href="{% url 'pipeline:source_detail' source.id %}prev" class="d-none d-sm-inline-block btn btn-sm btn-light btn-icon-split shadow-sm">
        <span class="icon text-gray-600">
          <i class="fas fa-arrow-left fa-sm"></i>
        </span>
        <span class="text">Previous</span>
      </a>
      <a href="{% url 'pipeline:source_detail' source.id %}next" class="d-none d-sm-inline-block btn btn-sm btn-light btn-icon-split shadow-sm">
        <span class="text">Next</span>
        <span class="icon text-gray-600">
          <i class="fas fa-arrow-right fa-sm"></i>
        </span>
      </a>
    </div>
	</div>

  <div class="row">
    <div class="col-lg-6">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
          <p><strong>RA: </strong> {{ source.wavg_ra }}</p>
          <p><strong>DEC: </strong> {{ source.wavg_dec }}</p>
          <p><strong>New Source: </strong> {{ source.new }}</p>
          <p><strong>Nr Datapoints: </strong> {{ source.measurements }}</p>
          <p><strong>Pipeline Run: </strong> <a href="{% url 'pipeline:run_detail' source.run_id %}">{{ source.run_name }}</a></p>
          <p><strong>Comment: </strong> {{ source.comment }}</p>
        </div>
      </div>
    </div>
    <!-- Aladin viz tile -->
  	<div class="col-lg-6">
      <div class="card shadow mb-4">
        <div id="aladinViz" style="height:23.3rem;"></div>
      </div>
  	</div>
	</div>

  <!-- Area Chart -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Light Curve</h6>
    </div>
    <div class="card-body">
      <div class="chart-area">
        <canvas id="lightCurveChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Postage stamps -->
    <div class="card shadow mb-4">
      <h6 class="card-header m-0 font-weight-bold text-primary">
        <a data-toggle="collapse" href="#collapse-example" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block">
          <i class="fa fa-chevron-down pull-right"></i>
          Postage Stamps
        </a>
      </h6>
      <div id="collapse-example" class="collapse show" aria-labelledby="heading-example">
        <div class="card-body">
          <div class="row">
            <button class="btn btn-info mr-1" onclick="focusOnSource(4.0);">Zoom to Source</button>
            <button class="btn btn-info mr-1" onclick="focusOnSource('toFit');">Zoom to Field</button>
          </div>
          <div class="row">
            <div class="JS9Menubar" id="SUPERMENU_" data-displays="*"></div>
          </div>
          <div class="row">
            {% for measurement in datatables.0.dataQuery %}
              <div class="card">
                <div class="card-header">
                  <p class="mb-0"><a href="{% url 'pipeline:image_detail' measurement.image_id %}" target="_blank">{{ measurement.image_name }}</a></p>
                  <p class="mb-0"><a href="{% url 'pipeline:measurement_detail' measurement.id %}" target="_blank">{{ measurement.name }}</a></p>
                </div>
                <div class="card-body">
                  <div class="JS9" id="JS9_{{ forloop.counter }}" data-width="350px" data-height="350px"></div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  <!-- DataTable Source Measurements -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Source Measurements</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="{{ datatables.0.table_id }}" width="100%" cellspacing="0" MeasApi="{% url 'pipeline:api_measurements-list' %}" ImgApi="{% url 'pipeline:api_images-list' %}">
          <thead>
            <tr>
              {% for name in datatables.0.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for name in datatables.0.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <!-- Datatable Related Sources -->
  <div class="card shadow mb-4">
    <a href="#collapseRelatedSources" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseRelatedSources">
      <h6 class="m-0 font-weight-bold text-primary">Related Sources</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseRelatedSources">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover" id="{{ datatables.1.table_id }}" width="100%" cellspacing="0">
            <thead>
              <tr>
                {% for name in datatables.1.colsNames %}
                <th>{{ name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tfoot>
              <tr>
                {% for name in datatables.1.colsNames %}
                <th>{{ name }}</th>
                {% endfor %}
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}


{% block modal %}

<!-- Starring source modal-->
<div class="modal fade" id="starSource" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a comment for this source</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'pipeline:api_sources_favs-list' %}" method="post" id="commentStarForm">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" name="comment" placeholder="Insert comment here (optional)" form="commentStarForm"></textarea>
            <input type="text" name="source_id" value="{{ source.id }}" hidden="">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Add to Favourites">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}


{% block custom_page_scripts %}
<!-- JS9 FITS viewer - must appear before DataTables -->
<script type="text/javascript" src="{% static 'vendor/js9/js9prefs.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9support.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9plugins.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Datatable scripts -->
{{ datatables|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.min.js' %}"></script>

<!-- Chart scripts -->
{{ datatables.0|json_script:"chart-data" }}
<script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/Plugin.Errorbars.min.js' %}"></script>
<script src="{% static 'js/light-curve-chart.min.js' %}"></script>

<!-- Aladin -->
{{ source|json_script:"data-aladin" }}
<script type='text/javascript' src='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js' charset='utf-8'></script>
<script src="{% static 'js/aladin-script.min.js' %}"></script>

{{ datatables.0.dataQuery|json_script:"data-js9" }}
<script type="text/javascript">
  // $(document).ready(function() {
    // $('[data-toggle="tooltip"]').tooltip();
  // });
  let baseUrl = '{{ base_url }}' || null;
  // function to add base url to an existing url if valid
  addBaseUrl = (url) => baseUrl == null ? url : '/' + baseUrl + url;
  // function to load FITS image
  function loadFitsImage(imageName, displayId) {
    return new Promise(resolve => {
      JS9.Load(
        addBaseUrl('/cutout/' + imageName + '/large'),
        {id: imageName, scalemin: -0.001, scalemax: 0.002, color:'gray', invert: true, onload: () => { return resolve(); }},
        {display: displayId}
      );
    });
  }
  // function to move the focus on the image
  function focusOnSource(zoom) {
    let ra = {{ source.aladin_ra }};
    let dec = {{ source.aladin_dec }};
    JS9.SetPan({ra: ra, dec: dec});
    JS9.SetZoom(zoom);
  }
  // when JS9 is ready, load the cutout images into the correct display panels
  $(document).on("JS9:ready", async function() {
    var measurementData = JSON.parse(document.getElementById("data-js9").textContent);
    // load all images and wait until they're all done
    await Promise.all(measurementData.map((measurement, i) => {
      var displayId = "JS9_"+(i+1);
      return loadFitsImage(measurement.name, displayId);
    }));
    JS9.SyncImages();  // sync panning between images
    focusOnSource(4.0);
    // overlay nearby components as regions
    measurementData.forEach((measurement, i) => {
      var displayId = "JS9_"+(i+1);
      var region_url = addBaseUrl('/measurements/' + measurement.image_id + '/' + measurement.ra + ',' + measurement.dec + ',20arcmin/region?selection_model=source&selection_id={{ source.id }}&run_id={{ source.run_id }}');
      var opts = Object.assign({}, JS9.Regions.opts);
      opts.tooltip = "$xreg.data.text";
      JS9.NewShapeLayer("components", opts, {display: displayId});
      $.get(region_url, regions => {
        JS9.AddShapes("components", regions, {changeable: false, strokeWidth: 1}, {display: displayId});
      })
    });
  });
</script>
{% endblock custom_page_scripts %}
