{% load static %}

{% load unit_tags %}

{% block head %}

<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.css' %}" />

{% endblock head %}

{% block content %}
<div class="row">
  <div class="col mb-4">
    <div id="sourceInfoCard">
      <div class="card shadow h-100">
        <div class="card-header py-3 clearfix" id="sourceInfoHeader">
          <h6 class="m-0 font-weight-bold text-primary float-left">Source Information</h6>
        </div>
        <div class="card-body">
          {% if source %}
          <div class="float-left">
            <strong>{{ source.name }}</strong>
          </div>
          <div class="float-right">
            <span {% if not sourcefav %}data-toggle="modal" {% endif %} data-target="#starSource">
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="tooltip"
                title="Add to favourites">
                <span class="icon text-white-600">
                  <i class="fas fa-star" {% if sourcefav  %}style="color: #ffe271" {% endif %}></i>
                </span>
              </a>
            </span>
            <a href="{% url 'vast_pipeline:source_detail' source.id %}"
              class="d-none d-sm-inline-block btn btn-sm btn-primary btn-icon-split shadow-sm" target="_blank"
              title="Go to the source summary page.">
              <span class="text">Source detail page</span>
              <span class="icon text-white-600">
                <i class="fa fa-arrow-right fa-sm"></i>
              </span>
            </a>
          </div>
          <br>
          <strong>Position: </strong><span class="clipboard-copy">{{ source.wavg_ra_hms }} {{ source.wavg_dec_dms }}</span><br>
          <strong>Position (Decimal): </strong><span class="clipboard-copy">{{ source.wavg_ra|floatformat:6 }} {{ source.wavg_dec|floatformat:6 }}</span><br>
          <strong>Position (Galactic): </strong><span class="clipboard-copy">{{ source.wavg_l|floatformat:6 }} {{ source.wavg_b|floatformat:6 }}</span>
          <div class="row">
            <div class="col">
              <strong>Avg. Compactness: </strong>{{ source.avg_compactness|floatformat:3 }}
            </div>
            <div class="col">
              <strong>Neighbour Dist: </strong>{{ source.n_neighbour_dist|deg_to_arcmin|floatformat:2 }}&prime;
            </div>
            <div class="col">
              <strong>Max SNR: </strong>{{ source.max_snr|floatformat:2 }}
            </div>
            <div class="col">
              <strong>Min SNR: </strong>{{ source.min_snr|floatformat:2 }}
            </div>
          </div>
          <div class="row">
            <div class="col">
            <strong>Nr Relations: </strong>{{ source.n_rel }}
            </div>
            <div class="col">
            <strong>Nr Siblings: </strong>{{ source.n_sibl }}
            </div>
            <div class="col">
            <strong>New Source: </strong>{{ source.new }}
            </div>
            <div class="col">
            <strong>New High Sigma:</strong>{% if source.new %}{{ source.new_high_sigma|floatformat:2 }}{% else %}N/A{% endif %}
            </div>
          </div>
          {% else %}
          The details of a selected source will appear here.
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col mb-4">
    <div class="card shadow mb-4 h-100">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">External Search Results (1 arcmin)</h6>
      </div>
      <div class="card-body small">
        <div class="table-responsive">
          <table class="table table-sm table-bordered table-striped table-hover" id="externalResultsTable"
            width="100%" cellspacing="0" data-server-side="false"
            data-ajax="{% url 'vast_pipeline:api_utils-external-search' %}?coord={{ source.wavg_ra_hms }}{{ source.wavg_dec_dms }}&format=datatables&keep=otype_long,database">
            <thead>
              <tr>
                <th data-data="object_name">ID</th>
                <th data-data="separation_arcsec">Dist (arcsec)</th>
                <th data-data="otype">Type</th>
                <th data-data="ra_hms">RA (hms)</th>
                <th data-data="dec_dms">Dec (dms)</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block modal %}

<!-- Starring source modal-->
<div class="modal fade" id="starSource" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a comment for this source</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'vast_pipeline:api_sources_favs-list' %}" method="post" id="commentStarForm">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" name="comment" placeholder="Insert comment here (optional)"
              form="commentStarForm"></textarea>
            <input type="text" name="source_id" value="{{ source.id }}" hidden="">
            <input type="hidden" name="next" value="{{ request.path }}">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Add to Favourites">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}

{% block scripts %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
 <script src="{% static 'vendor/startbootstrap-sb-admin-2/sb-admin-2.min.js' %}"></script>

{% endblock scripts %}

{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.colVis.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendor/jszip/jszip.min.js' %}"></script>

<!-- Datatable scripts -->
{% if source %}
{{ datatables|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.min.js' %}"></script>
{% endif %}

<!-- Bokeh scripts -->
<script src="{% static 'vendor/bokehjs/bokeh.min.js' %}"></script>
<script src="{% static 'vendor/bokehjs/bokeh-widgets.min.js' %}"></script>

<script src="{% static 'js/clipboard-copy.min.js' %}"></script>

  <script type="text/javascript">
  function getLightcurvePlot(id, fluxType = "peak") {
    let usePeakFlux = fluxType === "peak";
    fetch("{% url 'vast_pipeline:api_source_plots-lightcurve' -99 %}?peak_flux=".replace('-99', id) + usePeakFlux)
      .then(function (response) {
        return response.json()
      })
      .then(function (item) {
        $("#lightCurveBokeh").empty();
        return Bokeh.embed.embed_item(item, "lightCurveBokeh")
      })
  }

  // get the lightcurve plot whenever the flux type radio value changes
  $("#fluxTypeRadioContainer").on("change", function(e) {
    console.log("getting lightcurve plot for flux type", e.target.value);
    var source_id = {{ source.id }}
    getLightcurvePlot(source_id, e.target.value);
  });

  //
  // $(document).ready(function () {
  //   let fluxType = $('input[name="fluxTypeRadio"]:checked').val();
  //   getLightcurvePlot(fluxType);
  // });
</script>

{% endblock custom_page_scripts %}
