{% extends "base.html" %}

{% load static %}

{% block head %}

<link rel='stylesheet' href='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css' />
<link rel="stylesheet" href="{% static 'vendor/js9/js9-allinone.css' %}" />
<link rel="stylesheet" href="{% static 'css/collapse-box.css' %}">

{% endblock head %}


{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'pipeline:source_index' %}">Sources</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'pipeline:source_detail' source.id %}">{{ source.name }}</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
	  <h1 class="h3 mb-2 text-gray-800">Source: {{ source.name }}</h1>
    <div class="">
        <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ source.aladin_ra }}d{{ source.aladin_dec }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=10'" class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm" target="_blank">
          <span class="icon text-white-600">
            <i class="fas fa-info-circle fa-sm"></i>
          </span>
          <span class="text">SIMBAD</span>
        </a>
        <a href="https://ned.ipac.caltech.edu/conesearch?search_type=Near%20Position%20Search&coordinates={{ source.aladin_ra }}d%20{{ source.aladin_dec }}d&radius=2.0&in_csys=Equatorial&in_equinox=J2000.0&out_csys=Equatorial&out_equinox=J2000.0&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1" class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm" target="_blank">
          <span class="icon text-white-600">
            <i class="fas fa-info-circle fa-sm"></i>
          </span>
          <span class="text">NED</span>
        </a>
      <a href="{% url 'pipeline:source_detail' source.id %}prev" class="d-none d-sm-inline-block btn btn-sm btn-light btn-icon-split shadow-sm">
        <span class="icon text-gray-600">
          <i class="fas fa-arrow-left fa-sm"></i>
        </span>
        <span class="text">Previous</span>
      </a>
      <a href="{% url 'pipeline:source_detail' source.id %}next" class="d-none d-sm-inline-block btn btn-sm btn-light btn-icon-split shadow-sm">
        <span class="text">Next</span>
        <span class="icon text-gray-600">
          <i class="fas fa-arrow-right fa-sm"></i>
        </span>
      </a>
    </div>
	</div>

  <div class="row">
    <div class="col-lg-6">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
          <p><strong>RA: </strong> {{ source.wavg_ra }}</p>
          <p><strong>DEC: </strong> {{ source.wavg_dec }}</p>
          <p><strong>New Source: </strong> {{ source.new }}</p>
          <p><strong>Nr Datapoints: </strong> {{ source.measurements }}</p>
          <p><strong>Pipeline Run: </strong> <a href="{% url 'pipeline:run_detail' source.run_id %}">{{ source.run_name }}</a></p>
          <p><strong>Related: </strong>
          {% if source.relations_info %}
            {% for a,b in source.relations_info %}
              <!-- if the comma is only in the if statement then there is an ugly space -->
              {% if not forloop.last %}
                <a href="{% url 'pipeline:source_detail' a %}" target="_blank">{{ b }}</a>,
              {% else %}
                <a href="{% url 'pipeline:source_detail' a %}" target="_blank">{{ b }}</a>
              {% endif %}
            {% endfor %}
          {% else %}
            None.
          {% endif %}</p>
          <p><strong>Comment: </strong> {{ source.comment }}</p>
        </div>
      </div>
    </div>
    <!-- Aladin viz tile -->
  	<div class="col-lg-6">
      <div class="card shadow mb-4">
        <div id="aladinViz" style="height:23.3rem;"></div>
      </div>
  	</div>
	</div>

  <!-- Area Chart -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Light Curve</h6>
    </div>
    <div class="card-body">
      <div class="chart-area">
        <canvas id="lightCurveChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Postage stamps -->
    <div class="card shadow mb-4">
      <h6 class="card-header m-0 font-weight-bold text-primary">
        <a data-toggle="collapse" href="#collapse-example" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block">
          <i class="fa fa-chevron-down pull-right"></i>
          Postage Stamps
        </a>
      </h6>
      <div id="collapse-example" class="collapse show" aria-labelledby="heading-example">
        <div class="card-body">
          <div class="row">
            <button class="btn btn-info" onclick="focusOnSource(4.0);">Zoom to Source</button>
            <button class="btn btn-info" onclick="focusOnSource('toFit');">Zoom to Field</button>
          </div>
          <div class="row">
            <div class="JS9Menubar" id="SUPERMENU_" data-displays="*"></div>
          </div>
          <div class="row row-cols-4 row-cols-md-4">
            {% for measurement in measurements.dataQuery %}
              <div class="card">
                <div class="card-header">
                  <p class="mb-0"><a href="{% url 'pipeline:image_detail' measurement.image_id %}" target="_blank">{{ measurement.image_name }}</a></p>
                  <p class="mb-0"><a href="{% url 'pipeline:measurement_detail' measurement.id %}" target="_blank">{{ measurement.name }}</a></p>
                </div>
              <div class="card-body">
                      <div class="JS9" id="JS9_{{ forloop.counter }}" data-width="230px" data-height="230px"></div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  <!-- DataTales Source Measurements -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Source Measurements</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for name in source.datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for name in source.datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}


{% block custom_page_scripts %}
<!-- JS9 FITS viewer - must appear before DataTables -->
<script type="text/javascript" src="{% static 'vendor/js9/js9prefs.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9support.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9plugins.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Datatable scripts -->
{{ measurements|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.js' %}"></script>

<!-- Chart scripts -->
{{ measurements|json_script:"chart-data" }}
<script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/Plugin.Errorbars.min.js' %}"></script>
<script src="{% static 'js/light-curve-chart.js' %}"></script>

<!-- Aladin -->
{{ source|json_script:"data-aladin" }}
<script type='text/javascript' src='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js' charset='utf-8'></script>
<script src="{% static 'js/aladin-script.js' %}"></script>

{{ measurements.dataQuery|json_script:"data-js9" }}
<script type="text/javascript">
  function loadFitsImage(imageName, displayId) {
    return new Promise(resolve => {
      JS9.Load(
        "/cutout/"+imageName+"/large",
        {id: imageName, scalemin: -0.001, scalemax: 0.004, color:'gray', invert: true, onload: () => { return resolve(); }},
        {display: displayId}
      );
    });
  }
  function focusOnSource(zoom) {
    let ra = {{ source.aladin_ra }};
    let dec = {{ source.aladin_dec }};
    JS9.SetPan({ra: ra, dec: dec});
    JS9.SetZoom(zoom);
  }
  // when JS9 is ready, load the cutout images into the correct display panels
  $(document).on("JS9:ready", async function() {
    var measurementData = JSON.parse(document.getElementById("data-js9").textContent);
    // load all images and wait until they're all done
    await Promise.all(measurementData.map((measurement, i) => {
      var displayId = "JS9_"+(i+1);
      return loadFitsImage(measurement.name, displayId);
    }));
    JS9.SyncImages();  // sync panning between images
    focusOnSource(4.0);
    // overlay nearby components as regions
    measurementData.forEach((measurement, i) => {
      var displayId = "JS9_"+(i+1);
      var region_url = "/measurements/"+measurement.image_id+"/"+measurement.ra+","+measurement.dec+",20arcmin/region?selection_model=source&selection_id={{ source.id }}";
      JS9.LoadRegions(region_url, {color: "#FF0000", changeable: false, strokeWidth: 1}, {display: displayId});
    });
  });
</script>
{% endblock custom_page_scripts %}
