{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% load unit_tags %}

{% block head %}

<link rel='stylesheet' href='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css' />
<link rel="stylesheet" href="{% static 'vendor/js9/js9-allinone.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.css' %}" />

{% endblock head %}


{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'vast_pipeline:source_query' %}">Sources</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'vast_pipeline:source_detail' source.id %}">{{ source.name }}</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800"><strong>Source:</strong> {{ source.name }}</h1>
    <div class="">
      <span {% if not sourcefav %}data-toggle="modal" {% endif %} data-target="#starSource">
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="tooltip"
          title="Add to favourites">
          <span class="icon text-white-600">
            <i class="fas fa-star" {% if sourcefav  %}style="color: #ffe271" {% endif %}></i>
          </span>
        </a>
      </span>
      <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ source.aladin_ra }}d{{ source.aladin_dec }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=2'"
        class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm" target="_blank"
        title="SIMBAD cone search with 2 arcmin radius.">
        <span class="icon text-white-600">
          <i class="fas fa-info-circle fa-sm"></i>
        </span>
        <span class="text">SIMBAD</span>
      </a>
      <a href="https://ned.ipac.caltech.edu/conesearch?search_type=Near%20Position%20Search&coordinates={{ source.aladin_ra }}d%20{{ source.aladin_dec }}d&radius=2.0&in_csys=Equatorial&in_equinox=J2000.0&out_csys=Equatorial&out_equinox=J2000.0&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1"
        class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm" target="_blank"
        title="NED cone search with 2 arcmin radius.">
        <span class="icon text-white-600">
          <i class="fas fa-info-circle fa-sm"></i>
        </span>
        <span class="text">NED</span>
      </a>
      {% if source_previous_id %}
      <a href="{% url 'vast_pipeline:source_detail' source_previous_id %}" class="d-none d-sm-inline-block btn btn-sm btn-light btn-icon-split shadow-sm">
        <span class="icon text-gray-600">
          <i class="fas fa-arrow-left fa-sm"></i>
        </span>
        <span class="text">Previous</span>
      </a>
      {% endif %}
      {% if source_next_id %}
      <a href="{% url 'vast_pipeline:source_detail' source_next_id %}" class="d-none d-sm-inline-block btn btn-sm btn-light btn-icon-split shadow-sm">
        <span class="text">Next</span>
        <span class="icon text-gray-600">
          <i class="fas fa-arrow-right fa-sm"></i>
        </span>
      </a>
      {% endif %}
    </div>
  </div>

  <div class="row">

    <!-- Basic Card Example -->
    <div class="col-xl-4 col-lg-6 mb-4">
      <div class="card shadow mb-4 h-100">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
          <p>
            <strong>Name: </strong>{{ source.name }}<br>
            <strong>Pipeline Run: </strong><a href="{% url 'vast_pipeline:run_detail' source.run_id %}"
              target="_blank">{{ source.run_name }}</a>
          </p>
          <p>
            <strong>Position: </strong><span class="clipboard-copy">{{ source.wavg_ra_hms }}
              {{ source.wavg_dec_dms }}</span><br>
            <strong>Position (Decimal): </strong><span class="clipboard-copy">{{ source.wavg_ra|floatformat:6 }}
              {{ source.wavg_dec|floatformat:6 }}</span><br>
            <strong>Position (Galactic): </strong><span class="clipboard-copy">{{ source.wavg_l|floatformat:6 }}
              {{ source.wavg_b|floatformat:6 }}</span>
          </p>
          <p>
            <strong>Avg. Int. Flux: </strong>{{ source.avg_flux_int|floatformat:3 }} mJy<br>
            <strong>Avg. Peak Flux: </strong>{{ source.avg_flux_peak|floatformat:3 }} mJy/beam<br>
            <strong>Max Peak Flux: </strong>{{ source.max_flux_peak|floatformat:3 }} mJy/beam
          </p>
          <div class="row">
            <div class="col-xl">
              <p>
                <strong>W. Avg RA Err: </strong>{{ source.wavg_uncertainty_ew|deg_to_arcsec|floatformat:3 }}&Prime;<br>
                <strong>W. Avg Dec Err: </strong>
                {{ source.wavg_uncertainty_ns|deg_to_arcsec|floatformat:3 }}&Prime;<br>
                <strong>Avg. Compactness: </strong>{{ source.avg_compactness|floatformat:3 }}<br>
                <strong>Neighbour Dist: </strong>{{ source.n_neighbour_dist|deg_to_arcmin|floatformat:2 }}&prime;
              </p>
              <p>
                <strong>Max SNR: </strong>{{ source.max_snr|floatformat:2 }}<br>
                <strong>Min SNR: </strong>{{ source.min_snr|floatformat:2 }}
              </p>
              <p>
                <strong>Nr Datapoints: </strong>{{ source.n_meas }} (<a href="#measurementsHeader">Table</a>)<br>
                <strong>Nr Selavy: </strong>{{ source.n_meas_sel }}<br>
                <strong>Nr Forced: </strong>{{ source.n_meas_forced }}
              </p>
              <p>
                <strong>Nr Relations: </strong>{{ source.n_rel }}
                {% if source.n_rel > 0 %}(<a href="#relatedHeader">Table</a>){% endif %}<br>
                <strong>Nr Siblings: </strong>{{ source.n_sibl }}
              </p>
            </div>
            <div class="col-xl">
              <p>
                <strong>V (Int. Flux): </strong>{{ source.v_int|floatformat:2 }}<br>
                <strong>V (Peak Flux): </strong>{{ source.v_peak|floatformat:2 }}<br>
                <strong>&eta; (Int. Flux): </strong>{{ source.eta_int|floatformat:2 }}<br>
                <strong>&eta; (Peak Flux): </strong>{{ source.eta_peak|floatformat:2 }}
              </p>
              <p>
                <strong>New Source: </strong>{{ source.new }}<br>
                <strong>New High Sigma:
                </strong>{% if source.new %}{{ source.new_high_sigma|floatformat:2 }}{% else %}N/A{% endif %}
              </p>
              <p>
                <strong>Max |Vs| metric (peak): </strong>{{ source.vs_abs_significant_max_peak|floatformat:2 }}<br>
                <strong>Max |Vs| metric (int): </strong>{{ source.vs_abs_significant_max_int|floatformat:2 }}<br>
                <strong>Max |m| metric (peak): </strong>{{ source.m_abs_significant_max_peak|floatformat:2 }}<br>
                <strong>Max |m| metric (int): </strong>{{ source.m_abs_significant_max_int|floatformat:2 }}
              </p>
              <p>
                <a href="#lightcurveHeader">Lightcurve</a><br>
                <a href="#postageHeader">Postage stamps</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4">
      <!-- Comments -->
      {% include "comments_component.html" %}
    </div>

    <!-- Aladin viz tile -->
    <div class="col-xl-4 mb-4">
      <div class="card shadow mb-4 h-100" style="min-height: 16em;">
        <div id="aladinViz"></div>
      </div>
    </div>

  </div> <!-- /.row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 mb-4">
      <div class="card shadow h-100">
        <div class="card-header py-3 clearfix" id="lightcurveHeader">
          <h6 class="m-0 font-weight-bold text-primary float-left">Light Curve</h6>
          <div class="float-right" id="fluxTypeRadioContainer">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="fluxTypeRadio" id="fluxTypeRadioPeak" value="peak" checked>
              <label class="form-check-label" for="fluxTypeRadioPeak">
                Peak
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="fluxTypeRadio" id="fluxTypeRadioInt" value="int">
              <label class="form-check-label" for="fluxTypeRadioInt">
                Integrated
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="lightCurveBokeh"></div>
          <div style="text-align: center; margin-top: 1rem">
            <a href="#measurementsHeader">Go to Measurements table to download CSV</a>
          </div>
        </div>
      </div>
    </div>

    <!-- DataTable External Search Results -->
    <div class="col-xl-4 mb-4">
      <div class="card shadow mb-4 h-100">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">External Search Results (1 arcmin)</h6>
        </div>
        <div class="card-body small">
          <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped table-hover" id="externalResultsTable"
              width="100%" cellspacing="0" data-server-side="false"
              data-ajax="{% url 'vast_pipeline:api_utils-simbad-ned-search' %}?coord={{ source.wavg_ra_hms }}{{ source.wavg_dec_dms }}&format=datatables&keep=otype_long,database">
              <thead>
                <tr>
                  <th data-data="object_name">ID</th>
                  <th data-data="separation_arcsec">Dist (arcsec)</th>
                  <th data-data="otype">Type</th>
                  <th data-data="ra_hms">RA (hms)</th>
                  <th data-data="dec_dms">Dec (dms)</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- /.row -->

  <!-- Postage stamps -->
  <div class="card shadow mb-4">
    <h6 class="card-header m-0 font-weight-bold text-primary">
      <a data-toggle="collapse" href="#collapse-postage-stamps" aria-expanded="true"
        aria-controls="collapse-postage-stamps" id="postageHeader" class="d-block">
        <i class="fa fa-chevron-down pull-right"></i>
        Postage Stamps
      </a>
    </h6>
    <div id="collapse-postage-stamps" class="collapse show" aria-labelledby="heading-example">
      <div class="card-body">
        <div class="row">
          <button class="btn btn-info mr-1" onclick="focusOnSource(4.0);">Zoom to Source</button>
          <button class="btn btn-info mr-1" onclick="focusOnSource('toFit');">Zoom to Field</button>
        </div>
        <div class="row">
          <div class="JS9Menubar" id="SUPERMENU_" data-displays="*"></div>
        </div>
        <div class="row">
          {% for measurement in datatables.0.dataQuery %}
          <div class="card">
            <div class="card-header">
              <p class="mb-0"><a href="{% url 'vast_pipeline:image_detail' measurement.image_id %}"
                  target="_blank">{{ measurement.image_name }}</a></p>
              <p class="mb-0"><a href="{% url 'vast_pipeline:measurement_detail' measurement.id %}"
                  target="_blank">{{ measurement.name }}</a></p>
            </div>
            <div class="card-body">
              <div class="JS9" id="JS9_{{ forloop.counter }}" data-width="350px" data-height="350px"></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- DataTable Source Measurements -->
  <div class="card shadow mb-4">
    <div class="card-header py-3" id="measurementsHeader">
      <h6 class="m-0 font-weight-bold text-primary">Source Measurements</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="{{ datatables.0.table_id }}" width="100%"
          cellspacing="0" MeasApi="{% url 'vast_pipeline:measurement_index' %}"
          ImgApi="{% url 'vast_pipeline:image_index' %}">
          <thead>
            <tr>
              {% for name in datatables.0.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for name in datatables.0.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <!-- Datatable Related Sources -->
  <div class="card shadow mb-4">
    <a href="#collapseRelatedSources" class="d-block card-header py-3" data-toggle="collapse" role="button"
      aria-expanded="true" aria-controls="collapseRelatedSources" id="relatedHeader">
      <h6 class="m-0 font-weight-bold text-primary">Related Sources</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseRelatedSources">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover" id="{{ datatables.1.table_id }}" width="100%"
            cellspacing="0">
            <thead>
              <tr>
                {% for name in datatables.1.colsNames %}
                <th>{{ name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tfoot>
              <tr>
                {% for name in datatables.1.colsNames %}
                <th>{{ name }}</th>
                {% endfor %}
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div style="position: fixed; top: 0; right: 0; z-index: 99">
    <div id="alert_placeholder"></div>
  </div>

</div> <!-- /.container-fluid -->

{% endblock content %}


{% block modal %}

<!-- Starring source modal-->
<div class="modal fade" id="starSource" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a comment for this source</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'vast_pipeline:api_sources_favs-list' %}" method="post" id="commentStarForm">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" name="comment" placeholder="Insert comment here (optional)"
              form="commentStarForm"></textarea>
            <input type="text" name="source_id" value="{{ source.id }}" hidden="">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Add to Favourites">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}

{% block scripts %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- JS9 FITS viewer. Loads a bundled version of jQuery UI which conflicts with Bootstrap's
  tooltips. Must be loaded before Bootstrap so that Bootstrap tooltips take precendence. -->
<script type="text/javascript" src="{% static 'vendor/js9/js9prefs.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9support.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9plugins.js' %}"></script>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Alerts script for all pages-->
<script src="{% static 'js/alerts.min.js' %}"></script>
{% endblock scripts %}


{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.colVis.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendor/jszip/jszip.min.js' %}"></script>

<!-- Datatable scripts -->
{{ datatables|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.min.js' %}"></script>

<!-- Bokeh scripts -->
<script src="{% static 'vendor/bokehjs/bokeh.min.js' %}"></script>

<!-- Aladin -->
{{ source|json_script:"data-aladin" }}
<script type='text/javascript' src='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js' charset='utf-8'>
</script>
<script src="{% static 'js/aladin-script.min.js' %}"></script>

<script src="{% static 'js/clipboard-copy.min.js' %}"></script>

<script type="text/javascript">
  // configure aladin
  let aladin; // cannot init aladin here or it will overflow the parent element
  $('#externalResultsTable')
    // wait until the external search results table has fully loaded to ensure Aladin Lite
    // occupies the full height of the parent element
    .on("init.dt", function () {
      aladin = A.aladin('#aladinViz', {
        fov: 1
      });
      let aladinConf = JSON.parse(document.getElementById('data-aladin').textContent);
      configureAladin(aladin, aladinConf);
    })
    // force Aladin to resize the canvas elements whenever the table is redrawn and potentially
    // changes height
    .on("draw.dt", function () {
      if (aladin !== undefined) {
        aladin.view.fixLayoutDimensions();
      }
    })
</script>

{{ datatables.0.dataQuery|json_script:"data-js9" }}
<script type="text/javascript">
  let baseUrl = '{{ base_url }}' || null;
  // function to add base url to an existing url if valid
  addBaseUrl = (url) => baseUrl == null ? url : '/' + baseUrl + url;
  // function to load FITS image
  function loadFitsImage(imageName, displayId) {
    return new Promise(resolve => {
      JS9.Load(
        addBaseUrl('/cutout/' + imageName + '/large'), {
          id: imageName,
          scalemin: -0.001,
          scalemax: 0.002,
          color: 'gray',
          invert: true,
          onload: () => {
            return resolve();
          }
        }, {
          display: displayId
        }
      );
    });
  }
  // function to move the focus on the image
  function focusOnSource(zoom) {
    let ra = {{ source.aladin_ra }};
    let dec = {{ source.aladin_dec }};
    JS9.SetPan({
      ra: ra,
      dec: dec
    });
    JS9.SetZoom(zoom);
  }

  function getLightcurvePlot(fluxType = "peak") {
    let usePeakFlux = fluxType === "peak";
    fetch("{% url 'vast_pipeline:api_source_plots-lightcurve' source.id %}?peak_flux=" + usePeakFlux)
      .then(function (response) {
        return response.json()
      })
      .then(function (item) {
        $("#lightCurveBokeh").empty();
        return Bokeh.embed.embed_item(item, "lightCurveBokeh")
      })
  }
  // when JS9 is ready, load the cutout images into the correct display panels
  $(document).on("JS9:ready", async function () {
    var measurementData = JSON.parse(document.getElementById("data-js9").textContent);
    // load all images and wait until they're all done
    await Promise.all(measurementData.map((measurement, i) => {
      var displayId = "JS9_" + (i + 1);
      return loadFitsImage(measurement.name, displayId);
    }));
    JS9.SyncImages(); // sync panning between images
    focusOnSource(4.0);
    // overlay nearby components as regions
    measurementData.forEach((measurement, i) => {
      var displayId = "JS9_" + (i + 1);
      var region_url = addBaseUrl('/measurements/' + measurement.image_id + '/' + measurement.ra + ',' +
        measurement.dec +
        ',20arcmin/region?selection_model=source&selection_id={{ source.id }}&run_id={{ source.run_id }}');
      var opts = Object.assign({}, JS9.Regions.opts);
      opts.tooltip = "$xreg.data.text";
      JS9.NewShapeLayer("components", opts, {
        display: displayId
      });
      $.get(region_url, regions => {
        JS9.AddShapes("components", regions, {
          changeable: false,
          strokeWidth: 1
        }, {
          display: displayId
        });
      })
    });
  });

  // get the lightcurve plot whenever the flux type radio value changes
  $("#fluxTypeRadioContainer").on("change", function(e) {
    console.log("getting lightcurve plot for flux type", e.target.value);
    getLightcurvePlot(e.target.value);
  });

  $(document).ready(function () {
    let fluxType = $('input[name="fluxTypeRadio"]:checked').val();
    getLightcurvePlot(fluxType);
  });

</script>
{% endblock custom_page_scripts %}
