{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% load unit_tags %}

{% block head %}

<link rel='stylesheet' href='https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css' />
<link rel="stylesheet" href="{% static 'vendor/js9/js9-allinone.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.css' %}" />

{% endblock head %}


{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'vast_pipeline:source_query' %}">Sources</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'vast_pipeline:source_etav_plot' %}">Query &eta;-V Plot</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid flex-column">

  <div class="row">
    <div class="col-xl-5 mb-4">

      <!-- Lightcurve -->
      <div class="card shadow h-100">
        <div class="card-header py-3 clearfix" id="etavplotHeader">
          <h6 class="m-0 font-weight-bold text-primary float-left">&eta;-V Plot</h6>
          <div class="float-right" id="plotfluxTypeRadioContainer">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="plotfluxTypeRadio" id="plotfluxTypeRadioPeak" value="peak" checked>
              <label class="form-check-label" for="plotfluxTypeRadioPeak">
                Peak
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="plotfluxTypeRadio" id="plotfluxTypeRadioInt" value="int">
              <label class="form-check-label" for="plotfluxTypeRadioInt">
                Integrated
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="etaVBokeh"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-7 mb-4">
      <div class="row">
        <div class="col mb-4">
          <div class="card shadow h-100">
            <div class="card-header py-3 clearfix" id="lightcurveHeader">
              <h6 class="m-0 font-weight-bold text-primary float-left">Selected Source Light Curve</h6>
              <div class="float-right" id="fluxTypeRadioContainer">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="fluxTypeRadio" id="fluxTypeRadioPeak" value="peak" checked>
                  <label class="form-check-label" for="fluxTypeRadioPeak">
                    Peak
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="fluxTypeRadio" id="fluxTypeRadioInt" value="int">
                  <label class="form-check-label" for="fluxTypeRadioInt">
                    Integrated
                  </label>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div id="lightCurveBokeh"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-4">
          <div id="sourceInfoCard"> 
            {% include 'sources_etav_plot_card.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="position: fixed; top: 0; right: 0; z-index: 99">
    <div id="alert_placeholder"></div>
  </div>

</div> <!-- /.container-fluid -->

{% endblock content %}

{% block scripts %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- JS9 FITS viewer. Loads a bundled version of jQuery UI which conflicts with Bootstrap's
  tooltips. Must be loaded before Bootstrap so that Bootstrap tooltips take precendence. -->
<script type="text/javascript" src="{% static 'vendor/js9/js9prefs.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9support.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js9/js9plugins.js' %}"></script>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
 <script src="{% static 'vendor/startbootstrap-sb-admin-2/sb-admin-2.min.js' %}"></script>

<!-- Toasts script -->
<script src="{% static 'js/toasts.min.js' %}"></script>
{% endblock scripts %}


{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.colVis.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendor/jszip/jszip.min.js' %}"></script>

<!-- Bokeh scripts -->
<script src="{% static 'vendor/bokehjs/bokeh.min.js' %}"></script>

<script src="{% static 'js/clipboard-copy.min.js' %}"></script>

<script type="text/javascript">
  function getEtaVPlot(fluxType = "peak") {
    let usePeakFlux = fluxType === "peak";
    fetch("{% url 'vast_pipeline:api_source_plots-etavplot' %}?peak_flux=" + usePeakFlux)
      .then(function (response) {
        return response.json()
      })
      .then(function (item) {
        $("#etaVBokeh").empty();
        return Bokeh.embed.embed_item(item, "etaVBokeh")
      })
  }

  // get the lightcurve plot whenever the flux type radio value changes
  $("#plotfluxTypeRadioContainer").on("change", function(e) {
    console.log("getting lightcurve plot for flux type", e.target.value);
    getEtaVPlot(e.target.value);
  });

  $(document).ready(function () {
    let fluxType = $('input[name="plotfluxTypeRadio"]:checked').val();
    getEtaVPlot(fluxType);
  });

</script>

  <script type="text/javascript">
  function getLightcurvePlot(id, fluxType = "peak") {
    console.log(id);
    let usePeakFlux = fluxType === "peak";
    fetch("{% url 'vast_pipeline:api_source_plots-lightcurve' -99 %}?peak_flux=".replace('-99', id) + usePeakFlux)
      .then(function (response) {
        return response.json()
      })
      .then(function (item) {
        $("#lightCurveBokeh").empty();
        return Bokeh.embed.embed_item(item, "lightCurveBokeh")
      })
  }

  function update_card(id) {
      $('#sourceInfoCard').html('').load(
          "{% url 'vast_pipeline:source_etav_plot_update' 0 %}".replace('0', id)
      ); // <--- this code instead of $.ajax(lala)
  }
  // get the lightcurve plot whenever the flux type radio value changes
  // $("#fluxTypeRadioContainer").on("change", function(e) {
  //   console.log("getting lightcurve plot for flux type", e.target.value);
  //   getLightcurvePlot(e.target.value);
  // });
  //
  // $(document).ready(function () {
  //   let fluxType = $('input[name="fluxTypeRadio"]:checked').val();
  //   getLightcurvePlot(fluxType);
  // });
</script>

{% endblock custom_page_scripts %}
