{% extends "base.html" %}

{% load static %}

{% block head %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock head %}

{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
</li>

{% endblock breadcrumb %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
<!--   <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Catalogs</h1>
    <a href="#" class="d-none d-sm-inline-block btn-sm btn-primary btn-icon-split shadow-sm">
      <span class="icon text-white-50">
        <i class="fas fa-search fa-sm"></i>
      </span>
      <span class="text">Search</span>
    </a>
  </div> -->
  <h1 class="h3 mb-2 text-gray-800">Sources</h1>
  <p class="mb-4">Search through the sources using the query parameters</p>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Query</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800">Pipeline Run</h1>
          <select id="runSelect" class="form-control" style="margin-bottom:1rem">
            <option value="" selected>All</option>
            {% for ds in runs %}
            <option value={{ ds.name }}>{{ ds.name }}</option>
            {% endfor %}
          </select>
        <h1 class="h6 mb-2 font-weight-bold text-gray-800">Cone Search Coordinate System</h1>
        <select id="coordUnit" class="form-control" style="margin-bottom:1rem">
          <option value="equatorial" selected>Equatorial</option>
          <option value="galactic">Galactic</option>
        </select>
        </div>
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Cone Search</h1>
          <input id="objectSearch" type="text" class="form-control bg-light border-0 small" placeholder="Object Name" aria-label="ObjectSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <select id="objectService" class="form-control" style="margin-bottom:1rem">
            <option value="simbad" selected>SIMBAD</option>
            <option value="ned">NED</option>
          </select>
          <input id="raSelect" type="number" class="form-control bg-light border-0 small" placeholder="RA or l (deg) " step="1e-10" aria-label="RaSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="decSelect" type="number" class="form-control bg-light border-0 small" placeholder="DEC or b (deg)" step="1e-10" aria-label="DecSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <div class="row">
            <div class="col-7">
              <input id="radiusSelect" type="number" class="form-control bg-light border-0 small" placeholder="Radius" min="1e-10" step="1" aria-label="RadiusSearch" aria-describedby="basic-addon2">
            </div>
            <div class="col-5">
              <select id="radiusUnit" class="form-control">
                <option value="arcsec" selected>arcsec</option>
                <option value="arcmin">arcmin</option>
                <option value="deg">deg</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Avg. Flux</h1>
          <input id="fluxMinSelect" type="number" class="form-control bg-light border-0 small" placeholder="Min" step="0.01" aria-label="FluxMinSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="fluxMaxSelect" type="number" class="form-control bg-light border-0 small" placeholder="Max" step="0.01" aria-label="FluxMaxSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <select id="aveFluxSelect" class="form-control">
            <option value="avg_flux_int" selected>Int Flux</option>
            <option value="avg_flux_peak">Peak Flux</option>
          </select>
        </div>
        <div class="col-lg-1">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">V Metric</h1>
          <input id="varVMinSelect" type="number" class="form-control bg-light border-0 small" placeholder="Min" step="0.01" aria-label="VarVMinSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="varVMaxSelect" type="number" class="form-control bg-light border-0 small" placeholder="Max" step="0.01" aria-label="VarVMaxSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <select id="varVMetricSelect" class="form-control">
            <option value="v_int" selected>Int Flux</option>
            <option value="v_peak">Peak Flux</option>
          </select>
        </div>
        <div class="col-lg-1">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">&eta; Metric</h1>
          <input id="varEtaMinSelect" type="number" class="form-control bg-light border-0 small" placeholder="Min" step="0.01" aria-label="VarEtaMinSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="varEtaMaxSelect" type="number" class="form-control bg-light border-0 small" placeholder="Max" step="0.01" aria-label="VarEtaMaxSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <select id="varEtaMetricSelect" class="form-control">
            <option value="eta_int" selected>Int Flux</option>
            <option value="eta_peak">Peak Flux</option>
          </select>
        </div>
        <div class="col-lg-1">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Datapoints</h1>
          <input id="datapointMinSelect" type="number" class="form-control bg-light border-0 small" placeholder="Min" min="1" step="1" aria-label="DatapointsSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="datapointMaxSelect" type="number" class="form-control bg-light border-0 small" placeholder="Max" min="1" step="1" aria-label="DatapointsSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
        </div>
        <div class="col-lg-1">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Forced</h1>
          <input id="ForcedMinSelect" type="number" class="form-control bg-light border-0 small" placeholder="Min" min="0" step="1" aria-label="ForcedMinSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="ForcedMaxSelect" type="number" class="form-control bg-light border-0 small" placeholder="Max" min="0" step="1" aria-label="ForcedMaxSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
        </div>
        <div class="col-lg-1">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Relations</h1>
          <input id="RelationsMinSelect" type="number" class="form-control bg-light border-0 small" placeholder="Min" min="0" step="1" aria-label="RelationsMinSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="RelationsMaxSelect" type="number" class="form-control bg-light border-0 small" placeholder="Max" min="0" step="1" aria-label="RelationsMaxSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
        </div>
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Source Type</h1>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="newSourceSelect" type="checkbox">
            <label class="custom-control-label" for="newSourceSelect">New Source</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="containsSiblingsSelect" type="checkbox">
            <label class="custom-control-label" for="containsSiblingsSelect">No siblings</label>
          </div>
        </div>
      </div>
      <div class="card-corn-obj">
        <button id="resetSearch" class="btn btn-danger btn-circle" title="Reset Search" style="margin-right:0.5rem">
          <i class="fas fa-trash"></i>
        </button>
        <button id="catalogSearch" class="btn btn-primary btn-circle" title="Search">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Results</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for name in datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for name in datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}


{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
{{ datatable|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.js' %}"></script>
{% endblock custom_page_scripts %}
