{% extends "base.html" %}

{% load static %}

{% block head %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/collapse-box.min.css' %}">
{% endblock head %}

{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
</li>

{% endblock breadcrumb %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
<!--   <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Catalogs</h1>
    <a href="#" class="d-none d-sm-inline-block btn-sm btn-primary btn-icon-split shadow-sm">
      <span class="icon text-white-50">
        <i class="fas fa-search fa-sm"></i>
      </span>
      <span class="text">Search</span>
    </a>
  </div> -->
  <h1 class="h3 mb-2 text-gray-800">Sources</h1>
  <p class="mb-4">Search through the sources using the query parameters</p>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="#collapseQuery" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseQuery">
        <h6 class="m-0 font-weight-bold text-primary">
          <i class="fa fa-chevron-down pull-right"></i>
          Query
        </h6>
      </a>
    </div>
    <div class="collapse show" id="collapseQuery">
    <div class="card-body">
      <form>
        <fieldset>
          <legend>Data Source</legend>
          <div class="form-group row">
              <label for="runSelect" class="col-auto col-form-label font-weight-bold text-gray-800">Pipeline Run</label>
              <div class="col">
                <select id="runSelect" class="form-control">
                  <option value="" selected>All</option>
                  {% for ds in runs %}
                  <option value={{ ds.name }}>{{ ds.name }}</option>
                  {% endfor %}
                </select>
              </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Cone Search</legend>
          <div class="form-row align-items-center">
            <div class="form-group col-lg">
              <input id="objectNameInput" type="text" class="form-control" placeholder="Object Name" aria-label="Object Name" aria-describedby="objectNameInputValidation">
              <div id="objectNameInputValidation" class="invalid-feedback"></div>
            </div>
            <div class="form-group col-auto">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sesameService" id="sesameServiceAll" value="all" checked>
                <label class="form-check-label" for="sesameServiceAll">All</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sesameService" id="sesameServiceSIMBAD" value="simbad">
                <label class="form-check-label" for="sesameServiceSIMBAD">SIMBAD</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sesameService" id="sesameServiceNED" value="ned">
                <label class="form-check-label" for="sesameServiceNED">NED</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sesameService" id="sesameServiceVizier" value="vizier">
                <label class="form-check-label" for="sesameServiceVizier">VizieR</label>
              </div>
            </div>
            <div class="form-group col-lg-2">
                <button id="objectResolveButton" type="button" class="btn btn-primary btn-block" data-sesame-url="{% url 'vast_pipeline:api_utils-sesame-search' %}">Resolve</button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg">
              <div class="input-group">
                  <input id="coordInput" type="text" class="form-control" placeholder="Coordinate" aria-label="Coordinate" data-validator-url="{% url 'vast_pipeline:api_utils-coordinate-validator' %}">
                <div class="input-group-append">
                  <span class="input-group-text bg-transparent">
                    <select id="coordFrameSelect" class="border-0" aria-label="Coordinate frame">
                      <option value="icrs" selected>ICRS</option>
                      <option value="galactic">Galactic</option>
                    </select>
                  </span>
                </div>
                <div id="coordInputValidation" class="invalid-feedback"></div>
              </div>
            </div>
            <div class="form-group col-lg-2">
              <input id="radiusSelect" type="number" class="form-control" placeholder="Radius" min="1e-10" step="1" aria-label="Radius">
            </div>
            <div class="form-group col-lg-2">
              <select id="radiusUnit" class="form-control" aria-label="Radius unit">
                <option value="arcsec" selected>arcsec</option>
                <option value="arcmin">arcmin</option>
                <option value="deg">deg</option>
              </select>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Table Filters</legend>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="fluxMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Avg. Flux</label>
                <div class="col">
                  <input id="fluxMinSelect" type="number" class="form-control" placeholder="Min (mJy)" step="0.01" aria-label="Average flux minimum">
                </div>
                <div class="col">
                  <input id="fluxMaxSelect" type="number" class="form-control" placeholder="Max (mJy)" step="0.01" aria-label="Average flux maximum">
                </div>
                <div class="col">
                  <select id="aveFluxSelect" class="form-control" aria-label="Average flux type">
                    <option value="avg_flux_int" selected>Int Flux</option>
                    <option value="avg_flux_peak">Peak Flux</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="NeighbourMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Nearest Neighbour Dist.</label>
                <div class="col">
                  <input id="NeighbourMinSelect" type="number" class="form-control" placeholder="Min" min="0" step="1" aria-label="Distance to nearest neighbour minimum">
                </div>
                <div class="col">
                  <input id="NeighbourMaxSelect" type="number" class="form-control" placeholder="Max" min="0" step="1" aria-label="Distance to nearest neighbour maximum">
                </div>
                <div class="col">
                  <select id="neighbourRadiusUnit" class="form-control" aria-label="Distance to nearest neighbour unit">
                    <option value="arcsec">arcsec</option>
                    <option value="arcmin" selected>arcmin</option>
                    <option value="deg">deg</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="varVMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">V Metric</label>
                <div class="col">
                  <input id="varVMinSelect" type="number" class="form-control" placeholder="Min" step="0.01" aria-label="V metric minimum">
                </div>
                <div class="col">
                  <input id="varVMaxSelect" type="number" class="form-control" placeholder="Max" step="0.01" aria-label="V metric maximum">
                </div>
                <div class="col">
                  <select id="varVMetricSelect" class="form-control" aria-label="V metric flux type">
                    <option value="v_int" selected>Int Flux</option>
                    <option value="v_peak">Peak Flux</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="varEtaMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">&eta; Metric</label>
                <div class="col">
                  <input id="varEtaMinSelect" type="number" class="form-control" placeholder="Min" step="0.01" aria-label="Eta metric minimum">
                </div>
                <div class="col">
                  <input id="varEtaMaxSelect" type="number" class="form-control" placeholder="Max" step="0.01" aria-label="Eta metric maximum">
                </div>
                <div class="col">
                  <select id="varEtaMetricSelect" class="form-control" aria-label="Eta metric flux type">
                    <option value="eta_int" selected>Int Flux</option>
                    <option value="eta_peak">Peak Flux</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="varMaxVsMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Max Vs Metric</label>
                <div class="col">
                  <input id="varMaxVsMinSelect" type="number" class="form-control" placeholder="Min" step="0.01" aria-label="Maximum Vs metric minimum" disabled>
                </div>
                <div class="col">
                  <input id="varMaxVsMaxSelect" type="number" class="form-control" placeholder="Max" step="0.01" aria-label="Maximum Vs metric maximum" disabled>
                </div>
                <div class="col">
                  <select id="varMaxVsMetricFluxTypeSelect" class="form-control" aria-label="Maximum Vs metric flux type" disabled>
                    <option value="vs_max_int" selected>Int Flux</option>
                    <option value="vs_max_peak">Peak Flux</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="varMaxAbsMMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Max |m| Metric</label>
                <div class="col">
                  <input id="varMaxAbsMMinSelect" type="number" class="form-control" placeholder="Min" step="0.01" aria-label="Maximum absolute m metric minimum" disabled>
                </div>
                <div class="col">
                  <input id="varMaxAbsMMaxSelect" type="number" class="form-control" placeholder="Max" step="0.01" aria-label="Maximum absolute m metric maximum" disabled>
                </div>
                <div class="col">
                  <select id="varMaxAbsMMetricSelect" class="form-control" aria-label="Maximum absolute m metric flux type" disabled>
                    <option value="m_abs_max_int" selected>Int Flux</option>
                    <option value="m_abs_max_peak">Peak Flux</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="MinSnrMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Min SNR</label>
                <div class="col">
                  <input id="MinSnrMinSelect" type="number" class="form-control" placeholder="Min" min="0" step="1" aria-label="Minimum SNR minimum">
                </div>
                <div class="col">
                  <input id="MinSnrMaxSelect" type="number" class="form-control" placeholder="Max" min="0" step="1" aria-label="Minimum SNR maximum">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="MaxSnrMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Max SNR</label>
                <div class="col">
                  <input id="MaxSnrMinSelect" type="number" class="form-control" placeholder="Min" min="0" step="1" aria-label="Maximum SNR minimum">
                </div>
                <div class="col">
                  <input id="MaxSnrMaxSelect" type="number" class="form-control" placeholder="Max" min="0" step="1" aria-label="Maximum SNR maximum">
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="datapointMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Datapoints</label>
                <div class="col">
                  <input id="datapointMinSelect" type="number" class="form-control" placeholder="Min" min="1" step="1" aria-label="Datapoint count minimum">
                </div>
                <div class="col">
                  <input id="datapointMaxSelect" type="number" class="form-control" placeholder="Max" min="1" step="1" aria-label="Datapoint count maximum">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="SelavyMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Selavy</label>
                <div class="col">
                  <input id="SelavyMinSelect" type="number" class="form-control" placeholder="Min" min="1" step="1" aria-label="Selavy datapoint count minimum">
                </div>
                <div class="col">
                  <input id="SelavyMaxSelect" type="number" class="form-control" placeholder="Max" min="1" step="1" aria-label="Selavy datapoint count maximum">
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="ForcedMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Forced</label>
                <div class="col">
                  <input id="ForcedMinSelect" type="number" class="form-control" placeholder="Min" min="0" step="1" aria-label="Forced photometry datapoint count minimum">
                </div>
                <div class="col">
                  <input id="ForcedMaxSelect" type="number" class="form-control" placeholder="Max" min="0" step="1" aria-label="Forced photometry datapoint count maximum">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="RelationsMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Relations</label>
                <div class="col">
                  <input id="RelationsMinSelect" type="number" class="form-control" placeholder="Min" min="0" step="1" aria-label="Related sources count minimum">
                </div>
                <div class="col">
                  <input id="RelationsMaxSelect" type="number" class="form-control" placeholder="Max" min="0" step="1" aria-label="Related sources count maximum">
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="compactnessMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">Avg. Compactness</label>
                <div class="col">
                  <input id="compactnessMinSelect" type="number" class="form-control" placeholder="Min" min="0" step="1" aria-label="Average compactness minimum">
                </div>
                <div class="col">
                  <input id="compactnessMaxSelect" type="number" class="form-control" placeholder="Max" min="0" step="1" aria-label="Average compactness maximum">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="NewSigmaMinSelect" class="col-3 col-form-label font-weight-bold text-gray-800">New Source High Sigma</label>
                <div class="col">
                  <input id="NewSigmaMinSelect" type="number" class="form-control" placeholder="Min" min="0" step="1" aria-label="New source high sigma minimum">
                </div>
                <div class="col">
                  <input id="NewSigmaMaxSelect" type="number" class="form-control" placeholder="Max" min="0" step="1" aria-label="New source high sigma maximum">
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="form-group form-row align-items-center">
                <label for="" class="col-3 col-form-label font-weight-bold text-gray-800">Source Type</label>
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="newSourceSelect" type="checkbox">
                    <label class="form-check-label" for="newSourceSelect">New source</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="containsSiblingsSelect" type="checkbox">
                    <label class="form-check-label" for="containsSiblingsSelect">No siblings</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="card-corn-obj">
          <button type="button" id="resetSearch" class="btn btn-danger btn-circle" title="Reset Search" style="margin-right:0.5rem">
            <i class="fas fa-trash"></i>
          </button>
          <button type="button" id="catalogSearch" class="btn btn-primary btn-circle" title="Search">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Results</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for name in datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for name in datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}


{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
{{ datatable|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.min.js' %}"></script>
{% endblock custom_page_scripts %}
