{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% load unit_tags %}

{% block head %}

<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.css' %}" />

{% endblock head %}


{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{% url 'vast_pipeline:source_query' %}">Sources</a>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'vast_pipeline:source_etav_plot' %}">Query &eta;-V Plot</a>
</li>

{% endblock breadcrumb %}

{% block content %}
<!-- Begin Page Content -->

<div class="container-fluid flex-column">

  <div class="row">
    <div class="col-xl-5 mb-4">

      <!-- Eta V Plot -->
      <div class="card shadow h-100">
        <div class="card-header py-3 clearfix" id="etavplotHeader">
          <h6 class="m-0 font-weight-bold text-primary float-left">&eta;-V Plot</h6>
        </div>
        <div class="card-body">
          <div id="etaVBokeh">
            {% if plot_ok == 0 %}
              <center>Error.</center>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

    <div class="col-xl-7 mb-4">
      <div class="row">
        <div class="col mb-4">
          <div class="card shadow h-100">
            <div class="card-header py-3 clearfix" id="lightcurveHeader">
              <h6 class="m-0 font-weight-bold text-primary float-left">Selected Source Light Curve</h6>
            </div>
            <div class="card-body">
              <div id="lightCurveBokeh"></div>
            </div>
          </div>
        </div>
      </div>

      <div id='cardsUpdate'>
        {% include 'sources_etav_plot_update.html' %}
      </div>

    </div>
  </div>

  <div style="position: fixed; top: 0; right: 0; z-index: 99">
    <div id="alert_placeholder"></div>
  </div>

</div> <!-- /.container-fluid -->

{% endblock content %}

{% block scripts %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
 <script src="{% static 'vendor/startbootstrap-sb-admin-2/sb-admin-2.min.js' %}"></script>

<!-- Toasts script -->
<script src="{% static 'js/toasts.min.js' %}"></script>
{% endblock scripts %}


{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.colVis.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables-buttons/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendor/jszip/jszip.min.js' %}"></script>

<!-- Datatable scripts -->
<script src="{% static 'js/datatables-pipeline.min.js' %}"></script>

<!-- Bokeh scripts -->
<script src="{% static 'vendor/bokehjs/bokeh.min.js' %}"></script>
<script src="{% static 'vendor/bokehjs/bokeh-widgets.min.js' %}"></script>

<script src="{% static 'js/clipboard-copy.min.js' %}"></script>
<script src="{% static 'js/source-fav.min.js' %}" apiSourceFavUrl="{% url 'vast_pipeline:api_sources_favs-list' %}" id="SourceFavScript"></script>

<script type="text/javascript">
  function getEtaVPlot(eta_sigma = 3.0, v_sigma = 3.0, fluxType = "peak") {
    let usePeakFlux = fluxType === "peak";
    fetch("{% url 'vast_pipeline:api_source_plots-etavplot' %}?eta_sigma=" + eta_sigma + "&v_sigma=" + v_sigma + "&peak_flux=" + usePeakFlux)
      .then(function (response) {
        return response.json()
      })
      .then(function (item) {
        $("#etaVBokeh").empty();
        return Bokeh.embed.embed_item(item, "etaVBokeh")
      })
  }

  function getLightcurvePlot(id, fluxType = "peak") {
    let usePeakFlux = fluxType === "peak";
    fetch("{% url 'vast_pipeline:api_source_plots-lightcurve' -99 %}?peak_flux=".replace('-99', id) + usePeakFlux)
      .then(function (response) {
        return response.json()
      })
      .then(function (item) {
        $("#lightCurveBokeh").empty();
        return Bokeh.embed.embed_item(item, "lightCurveBokeh")
      })
  }

  $(document).ready(function () {
    var plot_ok = {{ plot_ok }};
    if (plot_ok == true){
      getEtaVPlot(3.0, 3.0, 'peak');
    }
  });

  function update_card(id) {
    $('#cardsUpdate').html('').load(
      "{% url 'vast_pipeline:source_etav_plot_update' 0 %}".replace('0', id),
      function() {
        // redraw the external results table, function is defined in datatables-pipeline.js
        drawExternalResultsTable('#externalResultsTable');
      }
    ); // <--- this code instead of $.ajax(lala)
  }
</script>

{% endblock custom_page_scripts %}
