{% extends "base.html" %}

{% load static %}

{% block head %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock head %}

{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
</li>

{% endblock breadcrumb %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
<!--   <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Catalogs</h1>
    <a href="#" class="d-none d-sm-inline-block btn-sm btn-primary btn-icon-split shadow-sm">
      <span class="icon text-white-50">
        <i class="fas fa-search fa-sm"></i>
      </span>
      <span class="text">Search</span>
    </a>
  </div> -->
  <h1 class="h3 mb-2 text-gray-800">Catalogs</h1>
  <p class="mb-4">Search through the catalogs using the query parameters</p>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Query</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800">Pipeline Run</h1>
          <select id="runSelect" class="form-control">
            <option value="" selected>All</option>
            {% for ds in  runs%}
            <option value={{ ds.name }}>{{ ds.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Cone Search</h1>
          <input id="raSelect" type="number" class="form-control bg-light border-0 small" placeholder="RA (deg)" step="1e-10" aria-label="RaSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="decSelect" type="number" class="form-control bg-light border-0 small" placeholder="DEC (deg)" step="1e-10" aria-label="DecSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="radiusSelect" type="number" class="form-control bg-light border-0 small" placeholder="Radius (deg)" min="1e-10" step="1e-10" aria-label="RadiusSearch" aria-describedby="basic-addon2">
        </div>
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Average Flux Range</h1>
          <input id="fluxMinSelect" type="number" class="form-control bg-light border-0 small" placeholder="Min" step="0.01" aria-label="FluxMinSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="fluxMaxSelect" type="number" class="form-control bg-light border-0 small" placeholder="Max" step="0.01" aria-label="FluxMaxSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <select id="aveFluxSelect" class="form-control">
            <option value="avg_flux_int" selected>Int Flux</option>
            <option value="avg_flux_peak">Peak Flux</option>
          </select>
        </div>
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Variability Metric</h1>
          <input id="varMinSelect" type="number" class="form-control bg-light border-0 small" placeholder="Min" step="0.01" aria-label="VarMinSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <input id="varMaxSelect" type="number" class="form-control bg-light border-0 small" placeholder="Max" step="0.01" aria-label="VarMaxSearch" aria-describedby="basic-addon2" style="margin-bottom:1rem">
          <select id="varMetricSelect" class="form-control">
            <option value="v_int" selected>Int Flux</option>
            <option value="v_peak">Peak Flux</option>
          </select>
        </div>
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Datapoints</h1>
          <input id="datapointSelect" type="number" class="form-control bg-light border-0 small" placeholder="Nr points" min="1" step="1" aria-label="DatapointsSearch" aria-describedby="basic-addon2">
        </div>
        <div class="col-lg-2">
          <h1 class="h6 mb-2 font-weight-bold text-gray-800" style="margin-top:1rem">Source Type</h1>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="newSourceSelect" type="checkbox">
            <label class="custom-control-label" for="newSourceSelect">New Source</label>
          </div>
        </div>
      </div>
      <div class="card-corn-obj">
        <button id="resetSearch" class="btn btn-danger btn-circle" title="Reset Search" style="margin-right:0.5rem">
          <i class="fas fa-trash"></i>
        </button>
        <button id="catalogSearch" class="btn btn-primary btn-circle" title="Search">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Results</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for name in datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for name in datatable.colsNames %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}


{% block custom_page_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
{{ datatable|json_script:"datatable-conf" }}
<script src="{% static 'js/datatables-pipeline.js' %}"></script>
{% endblock custom_page_scripts %}
