name: test-suite

on: [pull_request]

env:
  db_password: 'postgres'
  db_port: '5432'

jobs:
  test:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.FORCED_PHOT_DEPLOY_KEY }}

    - name: Use ssh instead of https when cloning from github
      run: |
        git config --global url.ssh://git@github.com/.insteadOf https://github.com/;
        git config --global core.sshCommand 'ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'

    - name: Create dev database
      uses: ./.github/actions/create-dev-database
      with:
        db_password: ${{ env.db_password }}
        db_port: ${{ env.db_port }}

    - name: Install dependencies
      run: sudo apt-get install -y libpq-dev libgraphviz-dev

    - uses: actions/setup-python@v2
      with:
        python-version: '3.6'

    - uses: actions/setup-node@v2
      with:
        node-version: '12'

    - name: Set up frontend assets and install python dependencies
    - run: |
        npm ci
        npm start
        pip install -r requirements/dev.txt

    - name: Set DATABASE_URL (using ansible)
      run: >
        cp webinterface/.env.template webinterface/.env &&
        ansible localhost
        -m lineinfile
        -a "
        path=webinterface/.env
        regex=^DATABASE_URL
        line='DATABASE_URL=psql://vast:vastpsw@localhost:${{ env.db_port }}/vastdb'
        "

    - name: Create database user and database name
      run: >
        ./init-tools/init-db.sh
        localhost ${{ env.db_port }}
        postgres ${{ env.db_password }}
        vast vastpsw vastdb

    - name: Make relevant directories
      run: mkdir pipeline-runs && mkdir reference-surveys

    - name: Run tests
      run: ./manage.py test
